<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.mosayk.tv">
                        Aviso legal
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.mosayk.tv">
                        Política de Privacidad
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.mosayk.tv">
                        Política de Calidad y Medio Ambiente
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            Copyright <i class="fa fa-copyright copyright text-dark"></i> 2020 <a href="http://www.mosayk.tv">Mosayk</a><br>
            Todos los derechos reservados
        </div>
        <!--div class="copyright ml-auto">
                2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="http://www.themekita.com">ThemeKita</a>
        </div-->
    </div>
</footer>
