
<div class="panel-header bg-primary-gradient" style ="height:85px;" >
    <div class="page-inner py-3" >
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
               
                <h2 class="text-white pb-4 pt-2 fw-bold">Panel de control</h2>
                {% if user.is_superuser %}
                <h5 class="text-white op-7 mb-2"> <!--[S]Administrador--> </h5>
                {% elif user.is_staff %}
                <h5 class="text-white op-7 mb-2">{{user.profile.get_rol_display}} </h5>
                {%else%}
                <h5 class="text-white op-7 mb-2">{{user.cliente}} </h5>
                {%endif%}
            </div>
            <!--div class="ml-md-auto py-2 py-md-0">
              <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
              <a href="#" class="btn btn-secondary btn-round">Add Customer</a>
            </div-->
        </div>
    </div>
</div>
<div class="page-inner mt--5 ">

        
        

    <div class="row mt--2 " >

	
		
        <div class="col-md-6"style="max-height:30%">
            <div class="card full-height ">
                <div class="card-body">
                    <!--div class="card-title">Planta 7</div>-->
					<div class="card-title"><span id="nombre_aforo"></span></div>
					
                    <div class="card-category">Capacidad actual</div>
                    <div class="d-flex justify-content-around h-80 w-100 pt-4 rounded">
						<div class="embed-responsive embed-responsive-16by9 h-100 w-100 m-0 p-2 rounded shadow "><!--4by9-->
							
                            <iframe class="embed-responsive-item" src="hfsEmbebido" class="h-100 w-100" scrolling="no"  style="LINE-HEIGHT:20px;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="col-md-6"style="max-height:30%">
          <div class="card full-height">
            <div class="card-body">
              <!--div class="card-title text-center pt-2 pb-1 ">Entrada Principal</div>-->
				<div class="card-title text-center  pb-1 "></div>

              
              <!--<div class="row py-1" >-->
                <!--<div class="col-md-4 d-flex flex-column justify-content-around">
                  <div>
                    <h3 class="fw-bold text-uppercase text-danger op-8">Último Mes</h6>
                    <h3 class="fw-bold">9.782</h3>
                  </div>
                  <div>
                    <h3 class="fw-bold text-uppercase text-danger op-8">Esta Semana</h6>
                    <h3 class="fw-bold">1,248</h3>
                  </div>
                  <div>
                    <h3 class="fw-bold text-uppercase text-danger op-8">Hoy</h6>
                    <h3 class="fw-bold">1,248</h3>
                  </div>
                  
                </div>-->
            <div class="btn-group text-center" role="group">
                
                </div>

                
                <div class="row">
                    <div class="col text-center mb-1 " style="max-height: 30%; max-width: 100%;">
						<table class=buttons> <tr>
						<div class="btn-group m-3  " role="group" aria-label="First group"style="center">
							<button id="1"class="btn success mr-3 btn-lg" type="button" onclick="myFunctionToday()">Hoy</button>
							<button id="2"class="btn success mr-3 btn-lg" type="button"onclick="myFunctionThisWeek()" >Esta Semana</button>
							<button id="3"class="btn success btn-lg" type="button" onclick="myFunctionThisMonth()">Este Mes</button>
						<!--<button id= "2" type="button" class="btn btn-primary min-vw-25 mr-3 "  onclick="myFunctionThisWeek()">Esta Semana</button>
						<button id= "3" type="button" class="btn btn-primary min-vw-25  "onclick="myFunctionThisMonth()" >Este Mes</button>-->
					</div></table>
                </div>
            </div>
                
			</div>
			<!--primera tarjeta-->
                <div class="col-md-12"style="max-height: 35%; z-index:1;" id="tarjeta1">
					<p  align="center"><samall>Total Aforo</samall></p>
                  <div id="chart-container" style="max-height: 50%;z-index:2;" >
					
					<canvas id="totalIncomeChart" style=" width: 100%; height: 50%; z-index:3;  "></canvas>
					
				  
                  </div>
				  

                    
			     
				</div>
				
				
                <div class="col-md-12" style="max-height: 35%; z-index:1;"id="tarjeta2"><br>
					<p  align="center"><samall>Total Persona</samall></p>
					
                    <div id="chart-container" style="max-height: 50% ;z-index:2;">
						
                      <canvas id="totalIncomeChart1" style=" width: 100%; height:50%;z-index:3;  "></canvas>
                      
                      
					</div>
					<!--<div align="center">
						<b><small >Horario Activo:  8:00 am -a 5:00 pm para el público</small></b>
					</div>-->
                  
				</div>
				
				<!--primera tarjeta-->
				<!--segunda tarjeta-->
				<div class="col-md-12" style="max-height: 35%; z-index:1;" id="tarjeta3">
					<p  align="center"><samall>Esta Semana</samall></p>
                  <div id="chart-container" style="max-height: 50% ;z-index:2;" >
					
					<canvas id="totalIncomeChart2" style=" width: 100%; height:50%;z-index:3;  "></canvas>
					
                  </div>
                  
                    
			     
				</div>
				
				
                <div class="col-md-12" style="max-height: 35%; z-index:1;" id="tarjeta4"><br>
					<p  align="center"><samall>Esta Semana Acumulada</samall></p>
					
                    <div id="chart-container" style="max-height: 50% ;z-index:2;">
						
                      <canvas id="totalIncomeChart3" style=" width: 100%; height:50%;z-index:3;  "></canvas>
                      
                      
					</div>
					<!--<div align="center">
						<b><small >Horario Activo:  8:00 am -a 5:00 pm para el público</small></b>
					</div>-->
                  
				</div>
				<!--segunda tarjeta-->
				<!--tercera tarjeta-->
				<div class="col-md-12" style="max-height: 35%; z-index:1;" id="tarjeta5">
					<p  align="center"><samall>Este Mes</samall></p>
                  <div id="chart-container" style="max-height: 50% ;z-index:2;" >
					
					<canvas id="totalIncomeChart4" style=" width: 100%; height:50%;z-index:3;  "></canvas>
					
                  </div>
                  
                    
			     
				</div>
				
				
                <div class="col-md-12" style="max-height: 35%; z-index:1;" id="tarjeta6"><br>
					<p  align="center"><samall>El Mes Pasado</samall></p>
					
                    <div id="chart-container" style="max-height: 50% ;z-index:2;">
						
                      <canvas id="totalIncomeChart5" style=" width: 100%; height:50%;z-index:3;  "></canvas>
                      
                      
					</div>
					<!--<div align="center">
						<b><small >Horario Activo:  8:00 am -a 5:00 pm para el público</small></b>
					</div>-->
                  
				</div>
				<!--tercera tarjeta-->


                </div>
              </div>
              </div>
              </div></div>
			
		


        
{% for camara  in camaras %}
   <div class="row {{var}}">
    {% for zonas_camara in camara.zonas_camara %}
     
        
        
	
            <div class="col-md-3">
              <div class="card full-height">
                    			  
                  <div class="card-body">
             
                      <div class="card-category text-center"><b><small>{{zonas_camara.nombre_zona_camara}}</small></b></div>
                  
                      <div class="d-flex flex-wrap justify-content-around ">
                          <div class="px-2 pb-2 pb-md-0 text-center">
                              <div id="circles-persona-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}" class="py-3"></div>
                         <!--h3 class="fw-bold mt-1 mb-0 text">Aforo máximo 50 personas</h3-->                          
                          </div>
					  </div>
					  <div class="card-header text-center pt-2 pb-4" style=" border-width:0px !important;">
						<br>
						
					   <!-- <b><small>{{camara.nombre_camara}}</small></b>-->
					   <b><small>Total Aforo</small></b>
                    </div>
                  </div>
				  <div class="card-footer " style=" border-width:0px !important;">
					
                    <div id="chart-container">
						<div id="CH-barras-persona-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}">
						
                  		    <canvas id="barras-persona-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}" style="width: 100%; height: 50%; z-index:3;"></canvas>
					    </div>
                  	</div>
				 </div>
					<!--					
                  <div class="col-md-12"  >
                    <div id="chart-container" >
                      
                      <canvas id="barras-persona-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}" style="display: block; width:262px; height :120px;"></canvas>
                    </div>
                  </div>-->	
              </div>
            </div>
		  
			
        
              <div class="col-md-3">
				  
                <div class="card full-height">
					
                    <div class="card-header text-center pt-2 pb-3"style=" border-width:0px !important;">                  
					 
						<div class="card-body">
							
							<b><small>{{camara.nombre_camara}}</small></b>
							
							
						  </div>
						 
						  {% if  camara.serial_camara == "Q2HV-B24V-ZKN5" %}
						  <img class="card-img-top rounded" src="{{ camara.snapshot }}" ">
					  
						  {%endif%}
						  {% if camara.serial_camara == "Q2GV-4YBM-YWWJ"%}
						  <img class="card-img-top rounded" src="{{ camara.snapshot }}" ">
						  {%endif%} 
						
					</div> 
					
					<div align="center">
						Personas: {{zonas_camara.nro_personas}}</p>
					  </div>
					  
				
				<!--  {% if  form.serial == "Q2HV-B24V-ZKN5" %}
				 
                  <img class="card-img-top p-4 rounded" src="{{ form.meraki }}">
				  {%elif form.serial == "Q2GV-4YBM-YWWJ"%}
				  <img class="card-img-top p-4 rounded" src="{{ form.meraki2 }}">
				  {%else%}
				  <img class="card-img-top p-4 rounded" src="{{ form.meraki2 }}">
				  {%endif%}
				-->
                  <div class="card-img-overlay">
                    
                      <div class="d-flex flex-wrap justify-content-around">
                        <div class="px-2 pb-2 pb-md-0 text-center mt-5 mb-0">
                    
                              <!--h3 class="fw-bold mt-3 mb-0 text-gray">Aforo máximo: <span id="msg_aforo_maximo" class="px-2"></span> personas </h3>
                              <h1 class="fw-bold mt-3 mb-2 text-gray">Bienvenidos</h1-->
                          </div>
                          
                    <div class="card-category text-center">
              
                    <!-- <div class="card-footer text-center"><b>Zona: <small>{{zonas_camara.nombre_zona_camara}}</small></b></div>
                    div class="card-footer text-center">Aforo máximo: <span id="msg_aforo_maximo" class="px-2"></span> personas</div
            
                    <div class="card-footer text-center"><b>Bienvenidos</small></b></div> -->
                    </div>
                    
                </div>
               
              </div>
                    
    
				<!--<p>camara</p>-->
                
               
		
				<div class="card-footer "id="chart-container" style=" border-width:0px !important;">
					<div id="chart-container" >
						  <div id= 'CH-barras-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}' style="max-height: 80%; z-index:1;">
							   <canvas  id="barras-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}"style="width: 100%; height: 100%; z-index:3;"></canvas>
						  
						  </div>
					  </div>
					<!--<br>
					
					<div class="col-md-12"style="max-height: 60px;"  >
					  <div id='CH-barras-persona-acumulada-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}'style="max-height: 90px;">
					  <canvas  id="barras-persona-acumulada-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}"style="display: block; width:262px; max-height: 80px;"></canvas>
					  <<canvas id="totalIncomeChart2" style=" width: 376px; height: 90px;"></canvas>
					 </div>
					 </div>-->
					 
				  </div>
		    
			  </div>
        
        </div>
   
       
      
      
   {% endfor %}
   

  
</div>
     
      
    
    {% block body%}
   
    {% endblock %}




{% endfor %}


  </div>
</div>
<!--Fin de  la Fila-->
<!--   Core JS Files   -->
<script src="../static/assets/js/core/jquery.3.2.1.min.js"></script><!--estos dos juntos no permiten abirir el menu del perfil-->
<script src="../static/assets/js/core/popper.min.js"></script>
<!--<script src="../static/assets/js/core/bootstrap.min.js"></script>--><!--estos dos juntos no permiten abirir el menu del perfil-->

<!-- jQuery UI -->
<script src="../static/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../static/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="../static/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<script src="../static/assets/js/plugin/chart.js/chart.min.js"></script>

<!-- jQuery Sparkline -->
<script src="../static/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="../static/assets/js/plugin/chart-circle/circles.min.js"></script>

<!-- Atlantis JS -->
<script src="../static/assets/js/atlantis.min.js"></script>


  <script>
	/*let searchParams = new URLSearchParams(window.location.search)
	if searchParams.has('m');
	let param = searchParams.get('sent')
	*/
	hzt_verde = "../static/assets/img/design/shv.png";
	hzt_ambar ="../static/assets/img/design/sha.png";
	hzt_rojo ="../static/assets/img/design/shr.png";


 function revisar_cambios() {
		id_monitor = $('#hdn_monitor').val();
		id_monitor = 10
		if (id_monitor != '') {
			request_url = '/camaras/configuracion_camaras/' + id_monitor + '';
			$.ajax({
				url: request_url,
				success: function(data){
					nro_personas = parseInt(data['nro_personas']);
					aforo_maximo = parseInt(data['aforo_maximo']);
					color_barra_cabecera = data['color_barra_cabecera'];
					texto_barra_cabecera = data['texto_barra_cabecera'];
					logotipo_archivo_nombre = data['logotipo_archivo_nombre'];
					logotipo_posicion = data['logotipo_posicion'];
					fondo_imagen_archivo_nombre = data['fondo_imagen_archivo_nombre'];
					aforo_formato = data['aforo_formato'];
					aforo_mostrar_maximo = data['aforo_mostrar_maximo'];
					aforo_mostrar_casi_lleno = data['aforo_mostrar_casi_lleno'];
					aforo_frase_verde = data['aforo_frase_verde'];
					aforo_frase_ambar = data['aforo_frase_ambar'];
					aforo_frase_rojo = data['aforo_frase_rojo'];										
					camaras = JSON.parse(data['camaras'])		
					nombre_aforo = data['nombre_aforo']; 
					$('#nombre_aforo').html(nombre_aforo);

					 
					
					/*console.log("camaras::")
					console.log(camaras)
					console.log("camaras[0].fields.nombre_camara")
					console.log(camaras[0].fields.nombre_camara)
					console.log("camaras[0].fields.instalacion")
					console.log(camaras[0].fields.instalacion)
					console.log(typeof(camaras[0].fields.instalacion))
					var instalacion = camaras[0].fields.instalacion
					console.log("instalacion")
					console.log(instalacion)
					instalacion_c =instalacion.replace(/'/g, '"');	
					str = instalacion_c.indexOf('{');
					console.log("str: "+str)
					str2 =  instalacion_c.indexOf(',');
					instalacion_c =  instalacion_c.replace('"_id": None, ',"")
						
					console.log("instalacion_c")
					console.log(instalacion_c)
					console.log("instalacion_c")
					instalacion_p = JSON.parse(instalacion_c) 				
					
					console.log(instalacion_p)
					console.log("instalacion_p.nombre")
					console.log(instalacion_p.nombre)
					*/
					/*for (i = 0; i < camaras.length; i++)
					{
						console.log("camaras: "+i)
						console.log(camaras[i])
						var zonas_camara = camaras[i].fields.zonas_camara
						console.log("zonas_camara: ")
						console.log(zonas_camara)
					}*/
					
					
					
					
					
					crearCircle(camaras)
          crearBarra(camaras)

					switch (color_barra_cabecera)
					{
						case "WTH":
							color_barra_cabecera ="#FFFFFF";
							break;
						case "G60":
							color_barra_cabecera ="#4c4c4c";
							break;
						case "G30":
							color_barra_cabecera ="#999999";
							break;
						case "BLK":
							color_barra_cabecera ="#000000";
							break;
					}

					switch (true)
					{
					   case (nro_personas < 18):
					   		sem_color = hzt_verde;
					   		frase = aforo_frase_verde;
					   		break;
					   case (nro_personas < 41):
					   		sem_color = hzt_ambar;
					   		frase = aforo_frase_ambar;
					   		break;
					   case (nro_personas > 40):
						   sem_color = hzt_rojo;
						   frase = aforo_frase_rojo;
						   break;
					   default:
						   sem_color = hzt_verde;
						   frase = aforo_frase_verde;
					}

				    $('#semaforo').attr('src',sem_color);
				    $('#texto_barra_cabecera').html(texto_barra_cabecera);

					if(aforo_mostrar_maximo==false){
						$("#msg_aforo_maximo").hide().html('');
					}
					else{
						$("#msg_aforo_maximo").show().html(aforo_maximo);
					}
					if(aforo_mostrar_casi_lleno==false){
						$("#msg_aforo_casi_lleno").hide().html('');
					}
					else{
						$("#msg_aforo_casi_lleno").show().html(frase);
					}
				    /*color_barra_cabecera*/

				    if (aforo_formato=="PCT"){
				    	nro_personas_show = ((nro_personas * 100)/aforo_maximo).toFixed(0) + "%";
				    }
				    else{
				    	nro_personas_show = nro_personas;
				    }

					Circles.create({
						id:'circles-1',
						radius:100,
						value:nro_personas,
						maxValue:aforo_maximo,
						width:15,
						text: nro_personas_show,
						colors:['#f1f1f1', '#FF9E27'], /*#FF9E27*/
						duration:400,
						wrpClass:'circles-wrp',
						textClass:'circles-text',
						styleWrapper:true,
						styleText:true
					});
				}
			});
		};
    };

    $(document).ready(function(){});

    revisar_cambios();

    $(function(){
        window.setInterval(function(){
           revisar_cambios();
        },5000);
    });

	function crearCircle(camaras){
		
		console.log("crearCircle")
		//console.log("camaras::")
		//console.log(camaras)
		for (i = 0; i < camaras.length; i++)
		{
			//console.log("camaras: "+i)
			//console.log("camaras[i].fields.zonas_camara")
			//console.log((camaras[i].fields.zonas_camara))
			nombre_camara = camaras[i].fields.nombre_camara
			//console.log("nombre_camara")
			//console.log(nombre_camara)
			var zonas_camara_str = camaras[i].fields.zonas_camara.replace(/'/g, '"');		
			//console.log("zonas_camara")
			//console.log(zonas_camara)			
			var zonas_camara = JSON.parse(zonas_camara_str)
			//console.log("zonas_camara")
			//console.log(zonas_camara)
			//console.log("zonas_camara.length")
			//console.log(zonas_camara.length)
			
			for (j = 0; j < zonas_camara.length; j++){
				//console.log("zonas_camara"+j)
				//console.log(zonas_camara[j])				
				//console.log("zonas_camara "+j+" nombre_zona_camara ")
				//console.log(zonas_camara[j].nombre_zona_camara)
				//console.log("zonas_camara "+j+" nro_personas ")
				//console.log(zonas_camara[j].nro_personas)
				id_circle = "circles"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				id_circle_persona = "circles-persona"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				setCircle(id_circle,id_circle_persona,100,zonas_camara[j].nro_personas)
			}
			
		}
		
		
		
	}
	
	function setCircle(id_circle,id_circle_persona,maxValue,value){
		/*console.log("setCircle 100")
		console.log("id_circle")
		console.log(id_circle)
		console.log("maxValue")
		console.log(maxValue)
		console.log("value")
		console.log(value)*/		
		
		
		Circles.create({
			id:id_circle,
			radius:50,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
		Circles.create({
			id:id_circle_persona,
			radius:50,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value.toString(),
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
	}
	
	
//barras------------------------------------------------------

function crearBarra(camaras){
		
		console.log("crearBarras")
		//console.log("camaras::")
		//console.log(camaras)
		for (i = 0; i < camaras.length; i++)
		{
			//console.log("camaras: "+i)
			//console.log("camaras[i].fields.zonas_camara")
			//console.log((camaras[i].fields.zonas_camara))
			nombre_camara = camaras[i].fields.nombre_camara
			//console.log("nombre_camara")
			//console.log(nombre_camara)
			var zonas_camara_str = camaras[i].fields.zonas_camara.replace(/'/g, '"');		
			//console.log("zonas_camara")
			//console.log(zonas_camara)			
			var zonas_camara = JSON.parse(zonas_camara_str)
			//console.log("zonas_camara")
			//console.log(zonas_camara)
			//console.log("zonas_camara.length")
			//console.log(zonas_camara.length)
			
			for (j = 0; j < zonas_camara.length; j++){
				//console.log("zonas_camara"+j)
				//console.log(zonas_camara[j])				
				//console.log("zonas_camara "+j+" nombre_zona_camara ")
				//console.log(zonas_camara[j].nombre_zona_camara)
				//console.log("zonas_camara "+j+" nro_personas ")
				//console.log(zonas_camara[j].nro_personas)
				
				id_barra = "barras"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				id_barra_persona = "barras-persona"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				id_barra_persona_acumulada = "barras-persona-acumulada"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				
				var xContenido = document.getElementById('CH-'+id_barra);
				xContenido.innerHTML = '';
				xContenido.innerHTML = '<canvas id="'+id_barra+'"></canvas>';

				var yContenido = document.getElementById('CH-'+id_barra_persona);
				yContenido.innerHTML = '';
				yContenido.innerHTML = '<canvas id="'+id_barra_persona+'"></canvas>';

				/**var zContenido = document.getElementById('CH-'+id_barra_persona_acumulada);
				zContenido.innerHTML = '';
				zContenido.innerHTML = '<canvas id="'+id_barra_persona_acumulada+'"></canvas>';*/

				setBarra(id_barra,100,zonas_camara[j].nro_personas,3)
				//setBarra(id_barra_persona_acumulada,100,zonas_camara[j].nro_personas,2)
				//mytotalIncomeChart.destroy();
				//$('.muestra').remove();
				/**$(".chart-container").each(function(){
					//$(this).html('<div class ="muestra"><canvas id="'+id_barra_persona+'"><canvas></div>');
					console.log('alerta');
				
				});*/
				
				setBarra(id_barra_persona,100,zonas_camara[j].nro_personas,1)
				
				
			} 
			
		}
		
		
		
	}
	
	function setBarra(id_barra_persona_acumulada,maxValue,value,boolean){
	
		/*console.log("setCircle 100")
		console.log("id_circle")
		console.log(id_circle)
		console.log("maxValue")
		console.log(maxValue)
		console.log("value")
		console.log(value)*/		
		
		
		/*Circles.create({
			id:id_circle,
			radius:45,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
		Circles.create({
			id:id_circle_persona,
			radius:45,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
	}*/


	//evalua que se cree una sola grafica para que no choque barra persona con persona acumulada y barra
/**if (boolean ==2){


  
	var totalIncomeChart = document.getElementById(id_barra_persona_acumulada).getContext('2d');
	var arrayC=JSON.parse("{{info_grafica_horas_acumulado}}")
var mytotalIncomeChart = new Chart(totalIncomeChart, {
  type: 'bar',
  data: {
    labels: ["1H", "4H", "8H", "12H", "16H", "20H", "24H"],
    datasets : [{
      label: "Total aforo",
      backgroundColor: '#ff9e27',
      borderColor: 'rgb(23, 125, 255)',
      data: arrayC,
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
      display: false,
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false //this will remove only the label
        },
        gridLines : {
          drawBorder: false,
          display : false
        }
      }],
      xAxes : [ {
        gridLines : {
          drawBorder: false,
          display : false
        }
      }]
    },
  }
});
}*/
if(boolean ==1){
var totalIncomeChart = document.getElementById(id_barra).getContext('2d');
var arrayD=JSON.parse("{{info_grafica_semana_acumulada}}")
var mytotalIncomeChart = new Chart(totalIncomeChart, {
  type: 'bar',
  data: {
    labels:["D", "L", "M", "M", "J", "V", "S"],
    datasets : [{
      label: "Total aforo",
      backgroundColor: '#ff9e27',
      borderColor: 'rgb(23, 125, 255)',
      data: arrayD,
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
      display: false,
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false //this will remove only the label
        },
        gridLines : {
          drawBorder: false,
          display : false
        }
      }],
      xAxes : [ {
        gridLines : {
          drawBorder: false,
          display : false
        }
      }]
    },
  }
});
}
else{
var totalIncomeChart = document.getElementById(id_barra_persona).getContext('2d');
//alert(id_barra_persona)
var arrayE=JSON.parse("{{info_grafica_semana}}")
console.log(id_barra_persona) 
var mytotalIncomeChart = new Chart(totalIncomeChart, {
  type: 'bar',
  data: {
    labels: ["D", "L", "M", "M", "J", "V", "S"],
    datasets : [{
      label: "Total aforo",
      backgroundColor: '#ff9e27',
      borderColor: 'rgb(23, 125, 255)',
      data: arrayE,
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
      display: false,
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false //this will remove only the label
        },
        gridLines : {
          drawBorder: false,
          display : false
        }
      }],
      xAxes : [ {
        gridLines : {
          drawBorder: false,
          display : false
        }
      }]
    },
  }
});

}

}
    /*
    $(function(){
        //prepare Your data array with img urls
        var dataArray=new Array();
        dataArray[0]="../static/assets/img/design/shv.png";
        dataArray[1]="../static/assets/img/design/sha.png";
        dataArray[2]="../static/assets/img/design/shr.png";
        //start with id=0 after 5 seconds
        var thisId=0;
        window.setInterval(function(){
            $('#semaforo').attr('src',dataArray[thisId]);
            thisId++; //increment data array id
            console.log(thisId);
            if (thisId==3) thisId=0; //repeat from start
        },5000);
    });*/


	

</script>

<script>
var x = document.getElementById("tarjeta1");
var y = document.getElementById("tarjeta2");
var z = document.getElementById("tarjeta3");
var a = document.getElementById("tarjeta4");
var b = document.getElementById("tarjeta5");
var c = document.getElementById("tarjeta6");
$(document).ready(function(){
	x.style.display = "block";
y.style.display = "block";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";

});

	function myFunctionToday() {


if (x.style.display === "none") {
x.style.display = "block";
y.style.display = "block";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";


} else {
x.style.display = "block";
y.style.display = "block";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";


}}



function myFunctionThisWeek() {

if (x.style.display === "block") {
x.style.display = "none";
y.style.display = "none";
z.style.display = "block";
a.style.display = "block";
b.style.display = "none";
c.style.display = "none";

} else {
x.style.display = "none";
y.style.display = "none";
z.style.display = "block";
a.style.display = "block";
b.style.display = "none";
c.style.display = "none";

}}



function myFunctionThisMonth() {

if (x.style.display === "none") {
	y.style.display = "none";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";
b.style.display = "block";
c.style.display = "block";

} else {
x.style.display = "none";
x.style.display = "none";
y.style.display = "none";
z.style.display = "none";
a.style.display = "none";
b.style.display = "block";
c.style.display = "block";

}}

</script>
<style>
	
.success{
  border: 3px solid rgb(34, 92, 167);
  background-color: rgb(45, 128, 234);
  color: white;
  padding: 08px 25px;
  font-size: 16px;
  cursor: pointer;
  min-width: 115px;
   
  
}
.buttons{
	white-space: normal;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
        
}
.buttons button {
        width: 100%;
    }
	

</style>