
<div class="panel-header bg-primary-gradient" style ="height:85px;" >
    <div class="page-inner py-3" >
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
               
                <h2 class="text-white pb-4 pt-2 fw-bold">Panel de control</h2>
                {% if user.is_superuser %}
                <h5 class="text-white op-7 mb-2"> <!--[S]Administrador--> </h5>
                {% elif user.is_staff %}
                <h5 class="text-white op-7 mb-2">{{user.profile.get_rol_display}} </h5>
                {%else%}
                <h5 class="text-white op-7 mb-2">{{user.cliente}} </h5>
                {%endif%}
            </div>
            <!--div class="ml-md-auto py-2 py-md-0">
              <a href="#" class="btn btn-white btn-border btn-round mr-2">Manage</a>
              <a href="#" class="btn btn-secondary btn-round">Add Customer</a>
            </div-->		
    	</div>
    </div>    
</div>
<div class="page-inner">
    <div class="d-flex justify-content-center flex-column flex-md-row">
			<div class="row">
				<div class="btn-group   " role="group" aria-label="Basic example">
				
				<!--	Aqui va el boton que da hacia adelante o atras la fecha-->
					<div class="input-group">
						<!--<button class="btn  float-left fas fa-angle-left btn-sm "style="margin-left:13%;color:white;" onclick="leftPressed();backFunction();" id="left" ></button>-->
						<button class="btn  float-left fas fa-angle-left btn-sm "style="margin-left:13%;color:white;" onclick="seleccionarDia('atras');seleccionarDiaEstadisticaAforo('atras')" id="Izquierda" ></button>
							<input id="date" type="textbox" placeholder="Fecha actual" class="form-control" readonly="true"   style="text-align: center; " value="{{fecha_actual}}">
						<button class="btn  float-right fas fa-angle-right btn-sm "style="margin-right:13%;color:white;" onclick="seleccionarDia('delante');seleccionarDiaEstadisticaAforo('delante')" id="Derecha" disabled ></button>	
					</div>
	
					<button id="1" class="btn success" type="button" onclick="revisar_cambios_red(true,1);revisar_total_aforo(true,1);">Día</button>
					<button id="2" class="btn success" type="button" onclick="revisar_cambios_red(true,2);revisar_total_aforo(true,2);">Semana</button>
					<button id="3" class="btn success" type="button" onclick="revisar_cambios_red(true,3);revisar_total_aforo(true,3);">Mes</button>
					<!--<button id= "2" type="button" class="btn btn-primary min-vw-25 mr-3 "  onclick="myFunctionThisWeek()">Esta Semana</button>
					<button id= "3" type="button" class="btn btn-primary min-vw-25  "onclick="myFunctionThisMonth()" >Este Mes</button>-->
				</div>
		    </div>
    </div>    
</div>
<br>
<div class="page-inner mt--5 ">

     <div class="row mt--3 " >
		<div class="col-md-2">
            <div class="card full-height ">
                <div class="card-body">					

					<div class="row" style="width: 200px; height: 200px;">						
<!--						<div class="col-md-12">
							<p class="font-weight-bold text-center;" style="color:#59d05d">&#8212 Aforo</p>							
						</div>
						<div class="col-md-12">
							<p class="font-weight-bold text-center;" style="color:#f3545d">&#8212 Usuarios RED</p>							
						</div>-->						
						<div class="col-md-12">
						   <div align="left" class="font-weight-bold">&nbsp; <b>Conexiones <br> &nbsp; a las <span id="hms_conexiones"></span> h</b></div>
							<br>
						   <div class="font-weight-bold text-left;" style=" color:#1d7af3;font-size:14px;">&emsp;&ensp; Wifi
		                		<p class="font-weight-bold" style=" color:#1d7af3;font-size:24px;">&ensp; <span id="nro_usuarios_wifi"></span></p>
						   </div>						   
						   <div class="font-weight-bold text-left;" style=" color:#f3545d;font-size:14px;">&ensp; Ethernet
			                	<p class="font-weight-bold" style=" color:#f3545d;font-size:24px;">&ensp; <span id="nro_usuarios_ethernet"></span></p>
							</div> 							
						</div>
		               <br>

					</div>
                </div>
            </div>
		</div>
    
	  	<div class="col-md-8">
            <div class="card full-height ">
                <div class="card-body">
                    
				<p  align="center"><samall>Estad&iacute;sticas</samall></p>	
				<div class="row" style="width: 200px; height: 200px;">					
					<div id="id_div_canvas_RED" class="chart-container" style="max-height: 200px;">
						<canvas id="LCRed" style="width: 580px;"></canvas>
					</div>
	 			</div>		
                 
            	</div>
        	</div>		
    	</div>
	<div class="col-md-2">
    	    <div class="card full-height ">
    	        <div class="card-body">
				    <div class="row" style="width: 200px; height: 200px;">						
			 	        <div class="col-md-12">
					   <div align="left" class="font-weight-bold">&nbsp; <b>Consumo GB <br> &nbsp; a las <span id="hms"></span> h</b>
		               </div> 
		               <br>
					   <div class="font-weight-bold text-left;" style=" color:#1d7af3;font-size:14px;">&emsp;&ensp; Wifi</div>	
					   <div class="font-weight-bold text-left;" style="font-size:12px;color:#1d7af3">
							&emsp; <span id="usoRed_wifi_recibidos" style="color:#1d7af3"></span>
							&nbsp;<span style="color:#1d7af3">Up</span>
						</div>
					   <div class="font-weight-bold text-left;" style="font-size:12px;color:#1d7af3">
							&ensp; <span id="usoRed_wifi_enviados" style="color:#1d7af3"></span>
							&nbsp;<span style="color:#1d7af3">Down</span>
						</div>	   					
					   
					   <br>
					   <div class="font-weight-bold text-left;" style="font-size:14px; color:#f3545d">&ensp; Ethernet</div>	
					   <div class="font-weight-bold text-left;" style="font-size:12px;color:#f3545d">
							&ensp;<span id="usoRed_ethernet_recibidos" style="color:#f3545d"></span>
							&nbsp;<span style="color:#f3545d">Up</span>
						</div>
					   <div class="font-weight-bold text-left;" style="font-size:12px;color:#f3545d">
							<span id="usoRed_ethernet_enviados" style="color:#f3545d"></span>
							&nbsp;<span style="color:#f3545d">Down</span>
						</div>			   					
					</div>
		    	</div>
	        </div>
        </div>
    </div>
    </div>        
        
    
    <div class="row mt--2" >	
		
        <div class="col-md-6"style="max-height:30%">
            <div class="card full-height ">
                <div class="card-body">
                    <!--div class="card-title">Planta 7</div>-->
					<div class="card-title"><span id="nombre_aforo"></span></div>
					
                    <div class="card-category">Capacidad actual</div>
                    <div class="d-flex justify-content-around h-80 w-100 pt-4 rounded">
						<div class="embed-responsive embed-responsive-16by9 h-100 w-100 m-0 p-2 rounded shadow "><!--4by9-->							
                            <iframe class="embed-responsive-item" src="hfsEmbebido" class="h-100 w-100" scrolling="no"  style="LINE-HEIGHT:20px;"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Tarjeta de Grafica de Estadisticas de Aforo -->
        <div class="col-md-6"style="max-height:30%">
          <div class="card full-height">
            <div class="card-body">
				<div class="card-title text-center  pb-1 "></div>                
                <div class="row">
                    <div class="col text-center mb-1 " style="max-height: 30%; max-width: 100%;">					
					</div>
				</div><!--Fin row-->				
				<div style = "height: 300%;">				
					<div class="col-md-12"style="max-height: 290%; z-index:1;" id="tarjeta1">
						<p  align="center"><samall>Estad&iacute;stica de Aforo</samall></p>
						<p  align="center"><span align="left"  style="color:#1d7af3;font-size:14px;">&mdash; Total aforo</span>						
						<span align="center" style=" color:#FF9E27;font-size:14px;">&emsp;&emsp;&emsp;&emsp;&mdash; Total persona</span></p>
						<div class="row" style="width: 200px; height: 290px;">					
							<div id="id_div_canvas_Aforo" class="chart-container" style="max-height: 290px;">
								<canvas id="LCAforo" style="width: 420px;"></canvas>
							</div>
	 					</div>		
					</div>
				</div><!--fin height: 300%; -->				
            </div><!--fin card-body-->
          </div><!--fin card full-height -->
        </div><!-- fin div class="col-md-6"style="max-height:30%"-->
     </div><!--fin  div class="row mt--2-->
	


<!--Tajetas de Camaras -->        
{% for camara  in camaras %}
   <div class="row {{var}}">
	   
	
   {% for zonas_camara in camara.zonas_camara %}
       
        <div class="col-md-3">
        	<div class="card full-height">
				<div style="height: 50%;">
            		<div class="card-body"style="height:50%">
						<div class="card-header text-center pt-2 pb-4" style=" border-width:0px !important;"style="height:50%">
							<div class="card-category text-center"><b><small>{{zonas_camara.nombre_zona_camara}}</small></b></div>
								<div class="d-flex flex-wrap justify-content-around ">
                          			<div class="px-2 pb-2 pb-md-0 text-center">
										<div class="align-middle">
											<div id="circles-persona-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}" class="py-3" style="height:50%">
											</div>
										</div>								
                          			</div>
								</div>							                  
						</div><!--fin card-header-->
						<div class="card-footer " style=" border-width:0px !important; height: 50%;">
							<p align="center"><b ><small>Total Aforo</small></b>   </p>   
						</div><!--fin card-body-->
            		</div><!--fin card-body-->					
				</div>				
        	</div><!-- fin card full-height-->			
        </div>
		<div class="col-md-4">
        	<div class="card full-height">
				<div style="height: 50%;">
            		<div class="card-body"style="height:50%">
						<!--div class="card-header text-center pt-2 pb-4" style=" border-width:0px !important;"style="height:50%">-->
						<div class="card-body text-center pt-2 pb-3"style=" border-width:0px !important;">
							<p><small>{{camara.nombre_camara}}</small></p>
								<div class="d-flex flex-wrap justify-content-around ">
                          			<div class="px-2 pb-2 pb-md-0 text-center">
										<div class="align-middle">
											<div style= "height:40%;max-height: 50%;">
						  						<!--<img id="snapshot-{{camara.serial_camara}}-zona-{{forloop.counter}}" class="card-img-top rounded" src="{{ camara.snapshot }}" onerror="this.onerror=null;this.src='{{ camara.imagen_defecto }}';" >-->
										        <img id="snapshot-{{camara.serial_camara}}-zona-{{forloop.counter}}" class="card-img-top rounded" src="{{ camara.snapshot }}" onerror="cambio_imagen(this,'{{ camara.imagen_defecto }}')" >
											</div>
										</div>								
                          			</div>
								</div>							                  
						</div><!--fin card-header-->
            		</div>
				</div>
        	</div>
		</div>
		<div class="col-md-5">
        	<div class="card full-height">
				<div style="height: 50%;">
            		<div class="card-body"style="height:50%">
						<!--<p  align="center"><small> Personas: {{zonas_camara.nro_personas}}</small></p>-->
						<div id="chart-container" >
						  	<div id= 'CH-barras-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}'  >
							   <canvas  id="barras-{{camara.nombre_camara}}-{{zonas_camara.nombre_zona_camara}}"style=" height: 100%; z-index:3;"></canvas>						  
						  	</div>
						</div>
            		</div>
				</div>
        	</div>
		</div>
				               
				
	
               
       
      
    
   {% endfor %}
   

  
   </div>
     
      
    
    {% block body%}
   
    {% endblock %}




{% endfor %}


  </div>
</div>
<!--Fin de  la Fila-->
<!--   Core JS Files   -->
<script src="../static/assets/js/core/jquery.3.2.1.min.js"></script><!--estos dos juntos no permiten abirir el menu del perfil-->
<script src="../static/assets/js/core/popper.min.js"></script>
<!--<script src="../static/assets/js/core/bootstrap.min.js"></script>--><!--estos dos juntos no permiten abirir el menu del perfil-->

<!-- jQuery UI -->
<script src="../static/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="../static/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

<!-- jQuery Scrollbar -->
<script src="../static/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

<!-- Chart JS -->
<script src="../static/assets/js/plugin/chart.js/chart.min.js"></script>

<!-- jQuery Sparkline -->
<script src="../static/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

<!-- Chart Circle -->
<script src="../static/assets/js/plugin/chart-circle/circles.min.js"></script>

<!-- Atlantis JS -->
<script src="../static/assets/js/atlantis.min.js"></script>


  <script>
	  
	/*let searchParams = new URLSearchParams(window.location.search)
	if searchParams.has('m');
	let param = searchParams.get('sent')
	*/
	hzt_verde = "../static/assets/img/design/shv.png";
	hzt_ambar ="../static/assets/img/design/sha.png";
	hzt_rojo ="../static/assets/img/design/shr.png";


 function revisar_cambios() {
		id_monitor = $('#hdn_monitor').val();
		id_monitor = 10
		if (id_monitor != '') {
			request_url = '/camaras/configuracion_camaras/' + id_monitor + '';
			$.ajax({
				url: request_url,
				success: function(data){
					nro_personas = parseInt(data['nro_personas']);
					aforo_maximo = parseInt(data['aforo_maximo']);
					color_barra_cabecera = data['color_barra_cabecera'];
					texto_barra_cabecera = data['texto_barra_cabecera'];
					logotipo_archivo_nombre = data['logotipo_archivo_nombre'];
					logotipo_posicion = data['logotipo_posicion'];
					fondo_imagen_archivo_nombre = data['fondo_imagen_archivo_nombre'];
					aforo_formato = data['aforo_formato'];
					aforo_mostrar_maximo = data['aforo_mostrar_maximo'];
					aforo_mostrar_casi_lleno = data['aforo_mostrar_casi_lleno'];
					aforo_frase_verde = data['aforo_frase_verde'];
					aforo_frase_ambar = data['aforo_frase_ambar'];
					aforo_frase_rojo = data['aforo_frase_rojo'];										
					camaras = JSON.parse(data['camaras'])		
					nombre_aforo = data['nombre_aforo']; 
					$('#nombre_aforo').html(nombre_aforo);
					usoRed_ethernet_enviados = data['usoRed_ethernet_enviados']; 
					$('#usoRed_ethernet_enviados').html(usoRed_ethernet_enviados);
					usoRed_ethernet_recibidos = data['usoRed_ethernet_recibidos']; 
					$('#usoRed_ethernet_recibidos').html(usoRed_ethernet_recibidos);
					hms = data['hms']			
			        $('#hms').html(hms);
					$('#hms_conexiones').html(hms);                    

					usoRed_wifi_enviados = data['usoRed_wifi_enviados']; 
					$('#usoRed_wifi_enviados').html(usoRed_wifi_enviados);
					usoRed_wifi_recibidos = data['usoRed_wifi_recibidos']; 
					$('#usoRed_wifi_recibidos').html(usoRed_wifi_recibidos);


					 
					
					/*console.log("camaras::")
					console.log(camaras)
					console.log("camaras[0].fields.nombre_camara")
					console.log(camaras[0].fields.nombre_camara)
					console.log("camaras[0].fields.instalacion")
					console.log(camaras[0].fields.instalacion)
					console.log(typeof(camaras[0].fields.instalacion))
					var instalacion = camaras[0].fields.instalacion
					console.log("instalacion")
					console.log(instalacion)
					instalacion_c =instalacion.replace(/'/g, '"');	
					str = instalacion_c.indexOf('{');
					console.log("str: "+str)
					str2 =  instalacion_c.indexOf(',');
					instalacion_c =  instalacion_c.replace('"_id": None, ',"")
						
					console.log("instalacion_c")
					console.log(instalacion_c)
					console.log("instalacion_c")
					instalacion_p = JSON.parse(instalacion_c) 				
					
					console.log(instalacion_p)
					console.log("instalacion_p.nombre")
					console.log(instalacion_p.nombre)
					*/
					/*for (i = 0; i < camaras.length; i++)
					{
						console.log("camaras: "+i)
						console.log(camaras[i])
						var zonas_camara = camaras[i].fields.zonas_camara
						console.log("zonas_camara: ")
						console.log(zonas_camara)
					}*/
					
					
					
					
					
					crearCircle(camaras)
                    crearBarra(camaras)

					switch (color_barra_cabecera)
					{
						case "WTH":
							color_barra_cabecera ="#FFFFFF";
							break;
						case "G60":
							color_barra_cabecera ="#4c4c4c";
							break;
						case "G30":
							color_barra_cabecera ="#999999";
							break;
						case "BLK":
							color_barra_cabecera ="#000000";
							break;
					}

					switch (true)
					{
					   case (nro_personas < 18):
					   		sem_color = hzt_verde;
					   		frase = aforo_frase_verde;
					   		break;
					   case (nro_personas < 41):
					   		sem_color = hzt_ambar;
					   		frase = aforo_frase_ambar;
					   		break;
					   case (nro_personas > 40):
						   sem_color = hzt_rojo;
						   frase = aforo_frase_rojo;
						   break;
					   default:
						   sem_color = hzt_verde;
						   frase = aforo_frase_verde;
					}

				    $('#semaforo').attr('src',sem_color);
				    $('#texto_barra_cabecera').html(texto_barra_cabecera);

					if(aforo_mostrar_maximo==false){
						$("#msg_aforo_maximo").hide().html('');
					}
					else{
						$("#msg_aforo_maximo").show().html(aforo_maximo);
					}
					if(aforo_mostrar_casi_lleno==false){
						$("#msg_aforo_casi_lleno").hide().html('');
					}
					else{
						$("#msg_aforo_casi_lleno").show().html(frase);
					}
				    /*color_barra_cabecera*/

				    if (aforo_formato=="PCT"){
				    	nro_personas_show = ((nro_personas * 100)/aforo_maximo).toFixed(0) + "%";
				    }
				    else{
				    	nro_personas_show = nro_personas;
				    }

					Circles.create({
						id:'circles-1',
						radius:100,
						value:nro_personas,
						maxValue:aforo_maximo,
						width:15,
						text: nro_personas_show,
						colors:['#f1f1f1', '#FF9E27'], /*#FF9E27*/
						duration:400,
						wrpClass:'circles-wrp',
						textClass:'circles-text',
						styleWrapper:true,
						styleText:true
					});
				}
			});
		};
    };
function revisar_total_aforo(update,periodo_estadistica){
	console.log("revisar_total_aforo")		
	//$('#Derecha').prop('disabled', true);
	request_url = '/totalAforo/'+periodo_estadistica + '';
	$.ajax({
		url: request_url,
		success: function(data){			
			array_total_aforo = data.array_total_aforo
			array_total_persona = data.array_total_persona		
			hora_apertura = data.hora_apertura
			hora_cierre = data.hora_cierre

				
			console.log("array_total_aforo");
			console.log(array_total_aforo);
			console.log("hora_apertura: "+hora_apertura)
			console.log("hora_cierre: "+hora_cierre)
				
			labels = getLabels(array_total_aforo,periodo_estadistica,hora_apertura,hora_cierre)
			console.log("labels")
			console.log(labels)
			if (periodo_estadistica ==1) {
				result = getArraysByHorario(array_total_aforo,array_total_persona,periodo_estadistica,hora_apertura,hora_cierre)
				array_total_aforo = result[0]
				array_total_persona = result[1] 				
				
				
			}			
			console.log("array_total_nro_personas V2");			
			console.log(array_total_aforo);	
    		createGraficaAforo(LCAforo,array_total_aforo,array_total_persona,update,labels)
			
		}						
     
   });	
}

    $(document).ready(function(){});
        revisar_cambios();
       

    $(function(){
        window.setInterval(function(){
           revisar_cambios();
        },5000);
    });

	function crearCircle(camaras){
		
		console.log("crearCircle")
		//console.log("camaras::")
		//console.log(camaras)
		for (i = 0; i < camaras.length; i++)
		{
			//console.log("camaras: "+i)
			//console.log("camaras[i].fields.zonas_camara")
			//console.log((camaras[i].fields.zonas_camara))
			nombre_camara = camaras[i].fields.nombre_camara
			//console.log("nombre_camara")
			//console.log(nombre_camara)
			var zonas_camara_str = camaras[i].fields.zonas_camara.replace(/'/g, '"');		
			//console.log("zonas_camara")
			//console.log(zonas_camara)			
			var zonas_camara = JSON.parse(zonas_camara_str)
			//console.log("zonas_camara")
			//console.log(zonas_camara)
			//console.log("zonas_camara.length")
			//console.log(zonas_camara.length)
			
			for (j = 0; j < zonas_camara.length; j++){
				//console.log("zonas_camara"+j)
				//console.log(zonas_camara[j])				
				//console.log("zonas_camara "+j+" nombre_zona_camara ")
				//console.log(zonas_camara[j].nombre_zona_camara)
				//console.log("zonas_camara "+j+" nro_personas ")
				//console.log(zonas_camara[j].nro_personas)
				id_circle = "circles"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				id_circle_persona = "circles-persona"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				setCircle(id_circle,id_circle_persona,100,zonas_camara[j].nro_personas)
			}
			
		}
		
		
		
	}
	
	function setCircle(id_circle,id_circle_persona,maxValue,value){
		/*console.log("setCircle 100")
		console.log("id_circle")
		console.log(id_circle)
		console.log("maxValue")
		console.log(maxValue)
		console.log("value")
		console.log(value)*/		
		
		
		Circles.create({
			id:id_circle,
			radius:50,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
		Circles.create({
			id:id_circle_persona,
			radius:50,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value.toString(),
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
	}
	
	
//barras------------------------------------------------------

function crearBarra(camaras){
		
		console.log("crearBarras")
		//console.log("camaras::")
		//console.log(camaras)
		for (i = 0; i < camaras.length; i++)
		{
			//console.log("camaras: "+i)
			//console.log("camaras[i].fields.zonas_camara")
			//console.log((camaras[i].fields.zonas_camara))
			nombre_camara = camaras[i].fields.nombre_camara
			//console.log("nombre_camara")
			//console.log(nombre_camara)
			var zonas_camara_str = camaras[i].fields.zonas_camara.replace(/'/g, '"');		
			//console.log("zonas_camara")
			//console.log(zonas_camara)			
			var zonas_camara = JSON.parse(zonas_camara_str)
			//console.log("zonas_camara")
			//console.log(zonas_camara)
			//console.log("zonas_camara.length")
			//console.log(zonas_camara.length)
			
			for (j = 0; j < zonas_camara.length; j++){
				console.log("zonas_camara"+j)
				console.log(zonas_camara[j])				
				console.log("zonas_camara "+j+" nombre_zona_camara ")
				console.log(zonas_camara[j].nombre_zona_camara)
				console.log("zonas_camara "+j+" nro_personas ")
				console.log(zonas_camara[j].nro_personas)
				
				/*id_barra = "barras"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				id_barra_persona = "barras-persona"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				id_barra_persona_acumulada = "barras-persona-acumulada"+"-"+nombre_camara+"-"+zonas_camara[j].nombre_zona_camara
				
				var xContenido = document.getElementById('CH-'+id_barra);
				xContenido.innerHTML = '';
				xContenido.innerHTML = '<canvas id="'+id_barra+'"></canvas>';

				var yContenido = document.getElementById('CH-'+id_barra_persona);
				yContenido.innerHTML = '';
				yContenido.innerHTML = '<canvas id="'+id_barra_persona+'"></canvas>';

				/**var zContenido = document.getElementById('CH-'+id_barra_persona_acumulada);
				zContenido.innerHTML = '';
				zContenido.innerHTML = '<canvas id="'+id_barra_persona_acumulada+'"></canvas>';*/
				
				//setBarra(id_barra,100,zonas_camara[j].nro_personas,3)
				//setBarra(id_barra_persona_acumulada,100,zonas_camara[j].nro_personas,2)
				//mytotalIncomeChart.destroy();
				//$('.muestra').remove();
				/**$(".chart-container").each(function(){
					//$(this).html('<div class ="muestra"><canvas id="'+id_barra_persona+'"><canvas></div>');
					console.log('alerta');
				
				});*/
				
				//setBarra(id_barra_persona,100,zonas_camara[j].nro_personas,1)
				
				
			} 
			
		}
		
		
		
	}
	var counter= 0
	var counterA= 0
	function setBarra(id_barra_persona_acumulada,maxValue,value,boolean){
	
		/*console.log("setCircle 100")
		console.log("id_circle")
		console.log(id_circle)
		console.log("maxValue")
		console.log(maxValue)
		console.log("value")
		console.log(value)*/		
		
		
		/*Circles.create({
			id:id_circle,
			radius:45,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
		Circles.create({
			id:id_circle_persona,
			radius:45,
			value:value,
			maxValue:maxValue,
			width:7,
			text: value,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
	}*/


	//evalua que se cree una sola grafica para que no choque barra persona con persona acumulada y barra
/**if (boolean ==2){


  
	var totalIncomeChart = document.getElementById(id_barra_persona_acumulada).getContext('2d');
	var arrayC=JSON.parse("{{info_grafica_horas_acumulado}}")
var mytotalIncomeChart = new Chart(totalIncomeChart, {
  type: 'bar',
  data: {
    labels: ["1H", "4H", "8H", "12H", "16H", "20H", "24H"],
    datasets : [{
      label: "Total aforo",
      backgroundColor: '#ff9e27',
      borderColor: 'rgb(23, 125, 255)',
      data: arrayC,
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
      display: false,
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false //this will remove only the label
        },
        gridLines : {
          drawBorder: false,
          display : false
        }
      }],
      xAxes : [ {
        gridLines : {
          drawBorder: false,
          display : false
        }
      }]
    },
  }
});
}*/
if(boolean ==1){
	if(counterA == 0){
var totalIncomeChart = document.getElementById(id_barra).getContext('2d');
var arrayD=JSON.parse("{{infocamaraAcumulada0}}")
var mytotalIncomeChart = new Chart(totalIncomeChart, {
  type: 'bar',
  data: {
    labels:["D", "L", "M", "M", "J", "V", "S"],
    datasets : [{
      label: "Total aforo",
      backgroundColor: '#ff9e27',
      borderColor: 'rgb(23, 125, 255)',
      data: arrayD,
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
      display: false,
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false //this will remove only the label
        },
        gridLines : {
          drawBorder: false,
          display : false
        }
      }],
      xAxes : [ {
        gridLines : {
          drawBorder: false,
          display : false
        }
      }]
    },
  }
});

counterA= 1
}
else if(counterA == 1){
	
	var totalIncomeChart = document.getElementById(id_barra).getContext('2d');
	var arrayD=JSON.parse("{{infocamaraAcumulada1}}")
	var mytotalIncomeChart = new Chart(totalIncomeChart, {
	  type: 'bar',
	  data: {
		labels:["D", "L", "M", "M", "J", "V", "S"],
		datasets : [{
		  label: "Total aforo",
		  backgroundColor: '#ff9e27',
		  borderColor: 'rgb(23, 125, 255)',
		  data: arrayD,
		}],
	  },
	  options: {
		responsive: true,
		maintainAspectRatio: false,
		legend: {
		  display: false,
		},
		scales: {
		  yAxes: [{
			ticks: {
			  display: false //this will remove only the label
			},
			gridLines : {
			  drawBorder: false,
			  display : false
			}
		  }],
		  xAxes : [ {
			gridLines : {
			  drawBorder: false,
			  display : false
			}
		  }]
		},
	  }
	});
	counterA= 0
	}
}


else{
if(counter == 0){

var totalIncomeChart = document.getElementById(id_barra_persona).getContext('2d');
//alert(id_barra_persona)
var arrayE=JSON.parse("{{infocamara0}}")
console.log(id_barra_persona) 
var mytotalIncomeChart = new Chart(totalIncomeChart, {
  type: 'bar',
  data: {
    labels: ["D", "L", "M", "M", "J", "V", "S"],
    datasets : [{
      label: "Total aforo",
      backgroundColor: '#ff9e27',
      borderColor: 'rgb(23, 125, 255)',
      data: arrayE,
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
      display: false,
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false //this will remove only the label
        },
        gridLines : {
          drawBorder: false,
          display : false
        }
      }],
      xAxes : [ {
        gridLines : {
          drawBorder: false,
          display : false
        }
      }]
    },
  }
});
counter = 1
}
else if (counter ==1){
var totalIncomeChart = document.getElementById(id_barra_persona).getContext('2d');
//alert(id_barra_persona)
var arrayE=JSON.parse("{{infocamara1}}")
console.log(id_barra_persona) 
var mytotalIncomeChart = new Chart(totalIncomeChart, {
  type: 'bar',
  data: {
    labels: ["D", "L", "M", "M", "J", "V", "S"],
    datasets : [{
      label: "Total aforo",
      backgroundColor: '#ff9e27',
      borderColor: 'rgb(23, 125, 255)',
      data: arrayE,
    }],
  },
  options: {
    responsive: true,
    maintainAspectRatio: false,
    legend: {
      display: false,
    },
    scales: {
      yAxes: [{
        ticks: {
          display: false //this will remove only the label
        },
        gridLines : {
          drawBorder: false,
          display : false
        }
      }],
      xAxes : [ {
        gridLines : {
          drawBorder: false,
          display : false
        }
      }]
    },
  }
});
counter = 0
}
}
	
}
    /*
    $(function(){
        //prepare Your data array with img urls
        var dataArray=new Array();
        dataArray[0]="../static/assets/img/design/shv.png";
        dataArray[1]="../static/assets/img/design/sha.png";
        dataArray[2]="../static/assets/img/design/shr.png";
        //start with id=0 after 5 seconds
        var thisId=0;
        window.setInterval(function(){
            $('#semaforo').attr('src',dataArray[thisId]);
            thisId++; //increment data array id
            console.log(thisId);
            if (thisId==3) thisId=0; //repeat from start
        },5000);
    });*/


	

</script>

<script>

var x = document.getElementById("tarjeta1");
var y = document.getElementById("tarjeta2");
var z = document.getElementById("tarjeta3");
var a = document.getElementById("tarjeta4");
var b = document.getElementById("tarjeta5");
var c = document.getElementById("tarjeta6");

var leftisPressed= false
var rightisPressed = false;

function leftPressed(){
	
	leftisPressed = true;
	rightisPressed = false;
	}
	
function rightPressed(){
	
	rightisPressed = true;
	leftisPressed = false;
	}

$(document).ready(function(){
	x.style.display = "block";
y.style.display = "block";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";

});

	function myFunctionToday() {
		
		if (leftisPressed == true){
		backFunction()
	}else if (rightisPressed== true){
		aheadFunction()
	}


if (x.style.display === "none") {
	
x.style.display = "block";
y.style.display = "block";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";


} else {
x.style.display = "block";
y.style.display = "block";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";


}}



function myFunctionThisWeek() {
	
	if (leftisPressed == true){
		backFunction()
	}else if (rightisPressed== true){
		aheadFunction()
	}

if (x.style.display === "block") {
x.style.display = "none";
y.style.display = "none";
z.style.display = "block";
a.style.display = "block";
b.style.display = "none";
c.style.display = "none";

} else {
x.style.display = "none";
y.style.display = "none";
z.style.display = "block";
a.style.display = "block";
b.style.display = "none";
c.style.display = "none";

}}



function myFunctionThisMonth() {

	if (leftisPressed == true){
		backFunction()
	}else if (rightisPressed== true){
		aheadFunction()
	}

if (x.style.display === "none") {
	y.style.display = "none";
z.style.display = "none";
a.style.display = "none";
b.style.display = "none";
c.style.display = "none";
b.style.display = "block";
c.style.display = "block";

} else {
x.style.display = "none";
x.style.display = "none";
y.style.display = "none";
z.style.display = "none";
a.style.display = "none";
b.style.display = "block";
c.style.display = "block";

}}

/*Grafica de Red*/

var LCRed = document.getElementById('LCRed').getContext('2d')
var LCAforo = document.getElementById('LCAforo').getContext('2d')
	
function createGraficaRed(contextGrafica,data_ethernet,data_wifi,update,labels){
	//Verifico si es la grafica que se carga por defecto
		if (update == false)
		{
			myLCRed = crearGraficaRed(contextGrafica,data_ethernet,data_wifi,labels)	
						
		}
		if (update == true)
		{
			eliminarGrafica('LCRed')
			newLCRED = creardivCanvasRED('id_div_canvas_RED')
	  		myLCRed = crearGraficaRed(newLCRED,data_ethernet,data_wifi,labels)	
		}
	
}	
function crearGraficaRed(contextGrafica,array_ethernet,array_wifi,labels){
	console.log("createGraficaRed")
	
		var grafica = new Chart(contextGrafica, {
		type: 'line',
		data: {
			labels: labels,
			datasets: [
			{
				label: "Usuarios wifi",
				borderColor: "#1d7af3",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#1d7af3",
				pointBorderWidth: 2,
				pointHoverRadius: 4,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 2,
				data: array_wifi	
			},
			{
				label: "Usuarios ethernet",
				borderColor: "#f3545d",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#f3545d",
				pointBorderWidth: 2,
				pointHoverRadius: 4,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 2,
				data: array_ethernet	
			}
			]
		},
		options : {
			responsive: true, 
			maintainAspectRatio: false,
			legend: {
				display: false,
			},
			tooltips: {
				bodySpacing: 1,
				mode:"nearest",
				intersect: 0,
				position:"nearest",
				xPadding:10,
				yPadding:10,
				caretPadding:10
			},
			layout:{
				padding:{left:15,right:15,top:15,bottom:15}
			}
		}
	});
	
	return grafica

}

function eliminarGrafica(id_grafica){	
	var oldGrafica = document.getElementById(id_grafica)
	oldGrafica.remove()					
	
}

function creardivCanvasRED(id_div_canvas_RED){
	
	
	$('#'+id_div_canvas_RED).append('<canvas id="LCRed" style="width: 580px;"></canvas>');		
	newgrafica = document.querySelector("#LCRed").getContext('2d');
	return newgrafica
}
function getLabels(array_red_wifi,periodo_estadistica,hora_apertura,hora_cierre) {	
	labels = []
	factor_suma = 0
	pos = 0
	if (periodo_estadistica ==2){
				labels = ["L", "M", "X", "J", "V", "S", "D"] 
	}
	else{
		if (periodo_estadistica ==3){
			factor_suma = 1
			for (i = 0; i < array_red_wifi.length-factor_suma; i++)
			{			
					
				labels[i] = i+factor_suma 
			}	
		}
		
		else if (periodo_estadistica ==1){
				
			for (i = 0; i < array_red_wifi.length-factor_suma; i++)
			{			
				if((i >= hora_apertura) && (i<= hora_cierre)){				
					console.log("TRUE V2")
					labels[pos] = i 
					pos++
					
				}			 
			}
		}
	}
	return labels
}

function getArraysByHorario(array_red_ethernet,array_red_wifi,periodo_estadistica,hora_apertura,hora_cierre){
	
	pos=0
	array_red_ethernet_horario = []
	array_red_wifi_horario = []
	console.log("hora_apertura en horario: "+hora_apertura)
	console.log("hora_cierre en horario: "+hora_cierre)
	for (i = 0; i < array_red_wifi.length; i++)
	{			
		if((i >= hora_apertura) && (i<= hora_cierre)) {				
			console.log("TRUE V3")
			array_red_wifi_horario[pos] = array_red_wifi[i]
			array_red_ethernet_horario[pos] = array_red_ethernet[i] 
			pos++
			
		}			 
	}
	
	 return [array_red_ethernet_horario,array_red_wifi_horario]
 }

function getArrayByHorario(array,periodo_estadistica,hora_apertura,hora_cierre){
	
	pos=0
	array_horario = []	
	console.log("hora_apertura en horario: "+hora_apertura)
	console.log("hora_cierre en horario: "+hora_cierre)
	for (i = 0; i < array.length; i++)
	{			
		if((i >= hora_apertura) && (i<= hora_cierre)) {				
			console.log("TRUE V3")
			array_horario[pos] = array[i]			 
			pos++
			
		}			 
	}
	
	 return array_horario
 }
	



 $(document).ready(function(){});

    //Cuando cargue la pagina por primera vez update== false y
    //periodo_estadistica == el dia de hoy

    revisar_cambios_red(false,1);
	revisar_total_aforo(false,1);
    // 3630000 = 1 hora y 30 segundos
    $(function(){
        window.setInterval(function(){
           revisar_cambios_red(true,1);
		   revisar_total_aforo(true,1);
        },60000);
    });




function revisar_cambios_red(update,periodo_estadistica){
	console.log("revisar_cambios_red")	
	$('#Derecha').prop('disabled', true);
	request_url = '/usuarios_red/dispositivosConectados/'+periodo_estadistica + '';
	$.ajax({
		url: request_url,
		success: function(data){			
			array_red_ethernet = data.array_red_ethernet
			array_red_wifi = data.array_red_wifi
			hora_apertura = data.hora_apertura
			hora_cierre = data.hora_cierre
			nro_usuarios_ethernet = data.nro_usuarios_ethernet
			nro_usuarios_wifi = data.nro_usuarios_wifi
			fecha = data.fecha
			$('#date').val(fecha)			
			$('#nro_usuarios_ethernet').html(nro_usuarios_ethernet);
			$('#nro_usuarios_wifi').html(nro_usuarios_wifi);
			console.log(array_red_ethernet);	
			console.log("array_red_wifi");
			console.log(array_red_wifi);
			console.log("hora_apertura: "+hora_apertura)
			console.log("hora_cierre: "+hora_cierre)
			console.log("nro_usuarios_ethernet: "+nro_usuarios_ethernet)
			console.log("nro_usuarios_wifi: "+nro_usuarios_wifi)			
			labels = getLabels(array_red_wifi,periodo_estadistica,hora_apertura,hora_cierre)
			console.log("labels")
			console.log(labels)
			if (periodo_estadistica ==1) {
				result = getArraysByHorario(array_red_ethernet,array_red_wifi,periodo_estadistica,hora_apertura,hora_cierre)
				array_red_ethernet = result[0]
				array_red_wifi = result[1]
			}			
			console.log("array_red_ethernet V2");			
			console.log(array_red_ethernet);	
			console.log("array_red_wifi V2");
			console.log(array_red_wifi);
			createGraficaRed(LCRed,array_red_ethernet,array_red_wifi,update,labels)
		}						
     
   });	
}

function seleccionarDia(operacion) {
	console.log("diaAtras")
	console.log($('#date').val())
	fecha_actual = $('#date').val()
	
	request_url = '/generar_estadistica_generales/'+fecha_actual+'/'+operacion;
	$.ajax({
		url: request_url,
		success: function(data){	
			fecha = data.fecha
			derecha_disabled = data.derecha_disabled
			array_red_ethernet = data.array_red_ethernet
			array_red_wifi = data.array_red_wifi
			hora_apertura = data.hora_apertura
			hora_cierre = data.hora_cierre
			console.log("fecha_atras: "+fecha)
			console.log("derecha_disabled: "+derecha_disabled)
			$('#date').val(fecha)		
			$('#Derecha').prop('disabled', derecha_disabled);
			console.log(array_red_ethernet);	
			console.log("array_red_wifi");
			console.log(array_red_wifi);
			console.log("hora_apertura: "+hora_apertura)
			console.log("hora_cierre: "+hora_cierre)
			labels = getLabels(array_red_wifi,1,hora_apertura,hora_cierre)			
			result = getArraysByHorario(array_red_ethernet,array_red_wifi,1,hora_apertura,hora_cierre)
			array_red_ethernet = result[0]
			array_red_wifi = result[1]						
			console.log("array_red_ethernet V2");			
			console.log(array_red_ethernet);	
			console.log("array_red_wifi V2");
			console.log(array_red_wifi);
			createGraficaRed(LCRed,array_red_wifi,array_red_ethernet,true,labels)			
		}						
     
   });	

}

function seleccionarDiaEstadisticaAforo(operacion) {
	console.log("diaAtras")
	console.log($('#date').val())
	fecha_actual = $('#date').val()
	request_url = '/totalAforo/'+fecha_actual+'/'+operacion;
	$.ajax({
		url: request_url,
		success: function(data){			
			array_total_aforo = data.array_total_aforo		
			array_total_persona = data.array_total_persona
			hora_apertura = data.hora_apertura
			hora_cierre = data.hora_cierre

				
			console.log("array_total_aforo");
			console.log(array_total_aforo);
			console.log("hora_apertura: "+hora_apertura)
			console.log("hora_cierre: "+hora_cierre)
				
			labels = getLabels(array_total_aforo,1,hora_apertura,hora_cierre)			
			console.log("labels")
			console.log(labels)			
			result = getArraysByHorario(array_total_aforo,array_total_persona,periodo_estadistica,hora_apertura,hora_cierre)
			array_total_aforo = result[0]
			array_total_persona = result[1]
			console.log("array_total_aforo_horario")
			console.log(array_total_aforo)
				
						
			console.log("array_total_nro_personas V2");			
			console.log(array_total_aforo);	
    		createGraficaAforo(LCAforo,array_total_aforo,array_total_persona,true,labels)
			
		}						
     
   });	
}






function createGraficaTotalPersona(contextGrafica,data_aforo,update,labels){
	//Verifico si es la grafica que se carga por defecto
		if (update == false)
		{
			myLCAforo = crearGrafica(contextGrafica,data_aforo,labels,"Total Persona")	
						
		}
		if (update == true)
		{
			eliminarGrafica('LCTotalPersona')
			newLCAforo = creardivCanvasTotalPersona('id_div_canvas_total_persona')
	  		myLCAforo = crearGrafica(newLCAforo,data_aforo,labels,"Total Persona")	
		}
	
}

function createGraficaAforo(contextGrafica,data_aforo,data_total_personas,update,labels){
	//Verifico si es la grafica que se carga por defecto
		if (update == false)
		{
			myLCAforo = crearGraficaDoble(contextGrafica,data_aforo,data_total_personas,labels,"Aforo Total","Total Persona")	
						
		}
		if (update == true)
		{
			eliminarGrafica('LCAforo')
			newLCAforo = creardivCanvasAforo('id_div_canvas_Aforo')
	  		myLCAforo = crearGraficaDoble(newLCAforo,data_aforo,data_total_personas,labels,"Aforo Total","Total Persona")	
		}
	
}	

function crearGrafica(context,data,labels,nombreGrafica){
	var grafica = new Chart(context, {
		type: 'line',
		data: {
			labels: labels,
			datasets: [{
				label: nombreGrafica,
				borderColor: "#1d7af3",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#1d7af3",
				pointBorderWidth: 2,
				pointHoverRadius: 4,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 2,
				data: data
			}]
		},
		options : {
			responsive: true, 
			maintainAspectRatio: false,
			legend: {
				/*position: 'bottom',
				labels : {
					padding: 10,
					fontColor: '#1d7af3',
				}*/
				display: false,
			},
			tooltips: {
				bodySpacing: 1,
				mode:"nearest",
				intersect: 0,
				position:"nearest",
				xPadding:10,
				yPadding:10,
				caretPadding:10
			},
			layout:{
				padding:{left:15,right:15,top:15,bottom:15}
			}
		}
	});
	
	return grafica
}

function crearGraficaDoble(context,data1,data2,labels,nombreGrafica1,nombreGrafica2){	
	
		var grafica = new Chart(context, {
		type: 'line',
		data: {
			labels: labels,
			datasets: [
			{
				label: nombreGrafica1,
				borderColor: "#1d7af3",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#1d7af3",
				pointBorderWidth: 2,
				pointHoverRadius: 4,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 2,
				data: data1	
			},
			{
				label: nombreGrafica2, 
				borderColor: "#FF9E27",
				pointBorderColor: "#FFF",
				pointBackgroundColor: "#FF9E27",
				pointBorderWidth: 2,
				pointHoverRadius: 4,
				pointHoverBorderWidth: 1,
				pointRadius: 4,
				backgroundColor: 'transparent',
				fill: true,
				borderWidth: 2,
				data: data2	
			}
			]
		},
		options : {
			responsive: true, 
			maintainAspectRatio: false,
			legend: {
				display: false,
			},
			tooltips: {
				bodySpacing: 1,
				mode:"nearest",
				intersect: 0,
				position:"nearest",
				xPadding:10,
				yPadding:10,
				caretPadding:10
			},
			layout:{
				padding:{left:15,right:15,top:15,bottom:15}
			}
		}
	});
	
	return grafica

}

function creardivCanvasAforo(id_div_canvas_Aforo){
	
	$('#'+id_div_canvas_Aforo).append('<canvas id="LCAforo" style="width: 420px;"></canvas>');		
	newgrafica = document.querySelector("#LCAforo").getContext('2d');
	return newgrafica
}

function creardivCanvasTotalPersona(id_div_canvas_total_persona){
	
	
	$('#'+id_div_canvas_total_persona).append('<canvas id="LCTotalPersona" style="width: 100%; height: 100%; z-index:3;"></canvas>');		
	newgrafica = document.querySelector("#LCTotalPersona").getContext('2d');
	return newgrafica
}

$(document).ready(function(){});
	refrescar_imagen();
    
       
$(function(){
	window.setInterval(function(){
    	refrescar_imagen();
   	},30000);
 });

function refrescar_imagen() {
	console.log("refrescar_imagen")
	request_url = '/camaras/refrescar_imagen/'
	$.ajax({
		url: request_url,
		success: function(data){
			console.log(data)			
			camaras = JSON.parse(data.camaras)
			console.log("camaras")
			console.log(camaras)
			for(i=0; i < camaras.length;i++){
				console.log("camaras[i].fields.nombre_camara: "+camaras[i].fields.nombre_camara)
				var zonas_camara_str = camaras[i].fields.zonas_camara.replace(/'/g, '"');		
				//console.log("zonas_camara")
				//console.log(zonas_camara)			
				var zonas_camara = JSON.parse(zonas_camara_str)
				//console.log("zonas_camara")
				//console.log(zonas_camara)
				//console.log("zonas_camara.length")
				//console.log(zonas_camara.length)			
				for (j = 0; j < zonas_camara.length; j++){
					console.log("zonas!!!!!")
					console.log(zonas_camara[j].nombre_zona_camara)
					id_snapshot = "snapshot-"+camaras[i].fields.serial_camara+"-zona-"+(j+1)
					console.log("id_snapshot: "+id_snapshot)
						
					src = camaras[i].fields.snapshot
					//src = 'bla.jpg'
					 
					$('#'+id_snapshot).attr('src',src);					
				}
				/*
				
				console.log("id_snapshot: "+id_snapshot)
				console.log("src: "+src)*/

				//$('#'+id_snapshot).attr('src',src);
			}			
		}						
     
   });	
}

function cambio_imagen(img,imagen_defecto) {	
	img.src = imagen_defecto
}
 
</script>
<style>
	
.success{
  border: 0px solid rgb(34, 92, 167);
  background-color: rgb(34, 92, 167);
  color: rgb(77, 157, 232);
  
  font-size: 16px;
  color:aliceblue;
  cursor: pointer;
  
   
  
}
.float-left, .float-right{
border:none;
background-color: rgb(34, 92, 167);
}

	

</style>
