
		<!-- Sidebar -->
		<div class="sidebar sidebar-style-2" data-background-color="light">
			<div class="sidebar-wrapper scrollbar scrollbar-inner">
				<div class="sidebar-content">				
					{% if user.is_authenticated %}
						<ul class="nav nav-primary">
							<li class="nav-item active">
								<a data-toggle="collapse" href="#cliente" class="collapsed" aria-expanded="false">
									<i class="fas fa-cog"></i>
									<p>Configuración</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="cliente">
									<ul class="nav nav-collapse">
										<li class="nav-item m-0 p-0 h-75">
											<a href="/instalacion/todos">
												<i class="fas fa-map-marked-alt text-secondary"></i>
												<span> Instalaciones </span>
											</a>
										</li>
										<li class="nav-item m-0 p-0 h-75">
											<a href="/valores/todos">
												<i class="fa fa-bars text-secondary"></i>
												<span> Valores </span>
											</a>
										</li>
										{% if user.profile.rol != 3 %}
											<li class="nav-item m-0 p-0 h-75">
												<a href="/fondos/todos">
													<i class="fas fa-fill-drip text-secondary"></i>
													<span> Fondos </span>
												</a>
											</li>
											<li class="nav-item m-0 p-0 h-75">
												<a href="/usuarios/todos">
													<i class="far fa-address-card text-secondary"></i>
													<span> Usuarios </span>
												</a>
											</li>
										{% endif %}
										{% if user.is_staff  %}
											<li class="nav-item m-0 p-0 h-75">
												<a href="/cliente/todos">
													<i class="fas fa-users text-secondary"></i>
													<span> Clientes </span>
												</a>
											</li>
											<li class="nav-item submenu m-0 p-0 h-75">
												<a data-toggle="collapse" href="#seguridad" class="" aria-expanded="true">
													<i class="fas fa-user-lock text-secondary"></i>
													<span>Seguridad</span>
													<span class="caret"></span>
												</a>
												<div class="collapse show" id="seguridad" style="">
													<ul class="nav nav-collapse">
														<li>
															<a href="/admin/auth/group/">
																<span class="sub-item">Grupos</span>
															</a>
														</li>
														<li>
															<a href="/admin/auth/user/">
																<span class="sub-item">Usuarios</span>
															</a>
														</li>
													</ul>
												</div>
											</li>
										{% endif %}
									
									</ul>
								</div>
							</li>
						</ul>
					{% endif %}
				</div>
			</div>
		</div>
		<!-- End Sidebar -->
