{% extends "layouts/base-modal.html" %}

{% block title %} Cambio de contraseña {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/accounts/login'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}

 <form action="" method="post">

{% endblock modal-content-form-tag-begin %}
 {% block modal-content-title %} Cambio de contraseña {% endblock modal-content-title %}
  {% block modal-content %}
    {% if validlink %}
        <p>Por favor ingrese (y confirme) su nueva contraseña.</p>
       
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nueva contraseña</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar contraseña</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                
            </table>
        
    {% else %}
        <p>Restablecimiento de contraseña fallido</p>
        <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha utilizado. Por favor solicite un nuevo restablecimiento de contraseña.</p>
    {% endif %}
	{% endblock modal-content %}
	{% block modal-content-footer %}
	{% if validlink %}
		
	 		 <div><input type="submit" class="btn btn-success" value="Aceptar" /></div>
	{% else %}
		<div>
			 <button type="button" class="btn btn-success" data-dismiss="modal"
            	onclick="javascript:window.location='/accounts/login'">Aceptar
    		</button>
		</div>
	
	{% endif %}
	{% endblock modal-content-footer %}	
	{% block modal-content-form-tag-end %}
</form>
{% endblock modal-content-form-tag-end %}

