{% extends "layouts/base-modal.html" %}

{% block title %} Cambio de contraseña {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/accounts/login'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}
{% endblock modal-content-form-tag-begin %}

<h1>The password has been changed!</h1>
 {% block modal-content-title %} Cambio de contraseña {% endblock modal-content-title %}
  {% block modal-content %}
<p>La contraseña ha sido cambiada con exito</p>
<p><a href="{% url 'accounts:login' %}">Ingresar nuevamente?</a></p>
{% endblock modal-content %}