{% extends "layouts/base-modal.html" %}

{% block title %} Cambio de contraseña {% endblock title %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}
  
<form method="post" action="{% url 'accounts:password_change' %}"> 
{% endblock modal-content-form-tag-begin %}
    {% block modal-content-title %} Cambio de contraseña {% endblock modal-content-title %}
    {% block modal-content %}    
	{% csrf_token %}	
	 <div class="form-row m-0 p-2">
		 <div class="form-group col-12 col-xs-7 col-sm-7 col-lg-4">
        	<label class="col-form-label col-form-label-sm">Contraseña actual:</label>
        	 {{ form.old_password }}
    	</div>
		 <div class="form-group col-12 col-xs-7 col-sm-7 col-lg-4">
        	<label class="col-form-label col-form-label-sm">Contraseña nueva:</label>
        	 {{ form.new_password1 }}
    	</div>
		<div class="form-group col-12 col-xs-7 col-sm-7 col-lg-4">
        	<label class="col-form-label col-form-label-sm">Confirmar contraseña nueva:</label>
        	 {{ form.new_password2 }}
    	</div>

        <div class="form-group bg-prmary col-12">
        	{% if form.errors %}
				  <div class="alert alert-danger my-1">
      			  	<strong class="mr-3">Contraseña incorrecta</strong>
				  </div>			
      		{% endif %}

        
    	</div>			
	 </div>
{% endblock modal-content %}
    {% block modal-content-footer %}
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="reset" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
            onclick="javascript:window.location='/'">Cerrar
    </button>
    {% endblock modal-content-footer %}
    {% block modal-content-form-tag-end %}
</form>
        
{% endblock modal-content-form-tag-end %}
<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}