{% extends "layouts/base-modal.html" %}

{% block title %} Reseteo de contraseña {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/accounts/login'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}

<form action="" method="post">
    {% endblock modal-content-form-tag-begin %}
    {% block modal-content-title %} Reseteo de contraseña {% endblock modal-content-title %}
    {% block modal-content %}
    {% csrf_token %}	
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
	<div class="form-row m-0 p-2">
		<!--div class="form-group col-12 col-xs-12 col-sm-12 col-lg-5"-->
		<div class="form-group col-12 col-xs-7 col-sm-7 col-lg-4">		
	            <label class="col-form-label col-form-label-sm">Correo:</label>
	          		{{ form.email }}
	    </div>
	
	</div>       
    <!--input type="submit" class="btn btn-default btn-lg" value="Resetar contraseña" /-->

  {% endblock modal-content %}
  {% block modal-content-footer %}
	 <button type="submit" class="btn btn-success" 
     onclick="javascript:window.location='/accounts/login'">Aceptar</button>		
    <button type="reset" class="btn btn-warning" data-dismiss="modal">Cancelar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
            onclick="javascript:window.location='/accounts/login'">Cerrar
    </button>
  {% endblock modal-content-footer %}
  {% block modal-content-form-tag-end %}
</form>
{% endblock modal-content-form-tag-end %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
{% endblock javascripts %}

