{% extends "layouts/base-modal.html" %}

{% block title %} Reseteo de contraseña {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/accounts/login'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}

    {% endblock modal-content-form-tag-begin %}
    {% block modal-content-title %} Reseteo de contraseña {% endblock modal-content-title %}
    {% block modal-content %}
<p>Le hemos enviado instrucciones por correo electrónico para configurar su contraseña. Si no han llegado en unos minutos, revise su carpeta de spam.</p>
 {% endblock modal-content %}  
	{% block modal-content-footer %}
		<button type="button" class="btn btn-success" data-dismiss="modal"
            onclick="javascript:window.location='/accounts/login'">Aceptar
    </button>
	{% endblock modal-content-footer %}
  {% block modal-content-form-tag-end %}
{% endblock modal-content-form-tag-end %}