{% extends "layouts/base-form.html" %}

{% block title %} Fondos {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content-form-page-header-title %} Fondos {% endblock content-form-page-header-title %}
{% block content-form-page-header %}
    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="fa fa-bars"></i>
 				
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Fondos</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Todos</a>
        </li>
    </ul>
{% endblock content-form-page-header %}
{% block content-form-form-tag-begin %} {% endblock content-form-form-tag-begin %}
{% block content-form-content %}
    <div class="card-header m-0 p-2">
        <div class="d-flex align-items-center">
            <h4 class="card-title"></h4>
            <a href="/fondos/" role="button" 
               class="btn btn-primary ml-auto">
                <i class="fa fa-plus mr-2" title="Agregar"></i>Agregar
            </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive m-0 p-0 py-3 w-100">
            <!--table id="add-row" class="display table table-striped table-hover table-bordered table-head-bg-primary table-bordered-bd-primary"-->
            <div class="table-responsive w-100 m-0 p-0 pb-3">
                <table id="add-row" class="display table table-striped table-hover table-head-bg-primary ">
                    <thead>
                    <tr>
                        
                        <th>Instalación</th>
                        <th>Descripción</th>
                        <th>Orientación</th>                        
                        <th>Activo</th>
                        <th class="w-10 text-center">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for fondos in fondosTodos %}
                        <tr>                            
                            <td>{{ fondos.instalacion.nombre }}</td>
                            <td>{{ fondos.descripcion }}</td>
                            <td>{% if fondos.orientacion == 'HRZ' %}Horizontal {% else %} Vertical {% endif %}</td>                            
                            <td class="text-center">{% if fondos.activo %}<i class="fa fa-check-square text-success"></i>{% else %}<i class="fa fa-times text-danger"></i>{% endif %}</td>
                            <td>
                                <div class="form-button-action">
                                    <a href="/fondos/editar/{{ fondos.id }}" role="button"
                                       class="btn btn-link btn-primary btn-lg">
                                        <span class="fa fa-edit" title="Editar"></span>
                                    </a>
                                   
                                    <a href="/fondos/eliminar/{{ fondos.id }}" role="button"
                                       class="btn btn-link btn-danger">
                                        <span class="fa fa-times" title="Eliminar"></span>
                                    </a>
                                   
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content-form-content %}
{% block content-form-form-tag-end %} {% endblock content-form-form-tag-end %}


<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
{% block javascripts-page %}
    {% include 'includes/scripts_js_datatable.html' %}
{% endblock javascripts-page %}