{% extends "layouts/base.html" %}

{% block title %} Panel de Control {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    {% include 'includes/index_base.html' %}

{% endblock content %}

{% block javascripts %}




	<script src="../../static/assets/js/demo.js"></script>

	<script>
		var x = document.getElementById("tarjeta1");
		var y = document.getElementById("tarjeta2");
		var z = document.getElementById("tarjeta3");
		var a = document.getElementById("tarjeta4");
		var b = document.getElementById("tarjeta5");
		var c = document.getElementById("tarjeta6");	




		
		var arrayA=JSON.parse("{{info_grafica_horas}}")
		var arrayB=JSON.parse("{{info_grafica_horas_acumulado}}")
		var arrayC=JSON.parse("{{info_grafica_semana}}")
		var arrayD=JSON.parse("{{info_grafica_semana_acumulada}}")
		var arrayE=JSON.parse("{{estemes}}")
		var arrayF=JSON.parse("{{estemesacumulado}}")
		function daysInMonth (month, year) {
    return new Date(year, month, 0).getDate();
}
var d = new Date();

		var month = parseInt(d.getMonth());
		var year = parseInt(d.getFullYear());
		
		var date = daysInMonth(month +1 ,year);
		
		var formato;

		if(date == 31){
			var formato =  ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31"];

		}
		else if (date == 30){
			formato =  ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"];
		}
		else if( date == 29){
			formato =  ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29"];
		}
		else if(date ==28){
			formato =  ["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28"];
		}


		Circles.create({
			id:'circles-1',
			radius:45,
			value:60,
			maxValue:100,
			width:7,
			text: 5,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-2',
			radius:45,
			value:70,
			maxValue:100,
			width:7,
			text: 36,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		Circles.create({
			id:'circles-3',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
		Circles.create({
			id:'circles-4',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#FF9E27'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
		Circles.create({
			id:'circles-5',
			radius:45,
			value:50,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#2BB930'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})
		Circles.create({
			id:'circles-6',
			radius:45,
			value:40,
			maxValue:100,
			width:7,
			text: 12,
			colors:['#f1f1f1', '#F25961'],
			duration:400,
			wrpClass:'circles-wrp',
			textClass:'circles-text',
			styleWrapper:true,
			styleText:true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');
		
		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["1-3H", "3-6H", "6-9H", "9-12H", "12-15H", "15-18H", "18-21H","21-24H"],
				datasets : [{
					label: "Total aforo",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data:  arrayA,
				}],
			},
			options: {
				tooltips: {
    titleFontSize: 10,
    bodyFontSize: 10
  },
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});


		var totalIncomeChart1 = document.getElementById('totalIncomeChart1').getContext('2d');
		
		var mytotalIncomeChart1 = new Chart(totalIncomeChart1, {
			type: 'bar',
			data: {
				labels:  ["1-3H", "3-6H", "6-9H", "9-12H", "12-15H", "15-18H", "18-21H","21-24H"],
				datasets : [{
					label: "Total persona",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data:  arrayB,
				}],
			},
			options: {
				tooltips: {
    titleFontSize: 10,
    bodyFontSize: 10
  },
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
		var totalIncomeChart2 = document.getElementById('totalIncomeChart2').getContext('2d');
		
		var mytotalIncomeChart2 = new Chart(totalIncomeChart2, {
			type: 'bar',
			data: {
				labels: ["D", "L", "M", "M", "J", "V", "S"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayC,
				}],
			},
			options: {
				tooltips: {
    titleFontSize: 10,
    bodyFontSize: 10
  },
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});

		var totalIncomeChart3 = document.getElementById('totalIncomeChart3').getContext('2d');
		
		var mytotalIncomeChart3 = new Chart(totalIncomeChart3, {
			type: 'bar',
			data: {
				labels: ["D", "L", "M", "M", "J", "V", "S"],
				datasets : [{
					label: "Total",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayD,
				}],
			},
			options: {
				tooltips: {
    titleFontSize: 10,
    bodyFontSize: 10
  },
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
		var totalIncomeChart4 = document.getElementById('totalIncomeChart4').getContext('2d');
		var mytotalIncomeChart4 = new Chart(totalIncomeChart4, {
			type: 'bar',
			data: {
				labels: formato,
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayE,
				}],
			},
			options: {
				tooltips: {
    titleFontSize: 10,
    bodyFontSize: 10
  },
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
		
		var totalIncomeChart5 = document.getElementById('totalIncomeChart5').getContext('2d');
		

		
		
		var mytotalIncomeChart5 = new Chart(totalIncomeChart5, {
			type: 'bar',
			data: {
				labels:formato,
				datasets : [{
					label: "Total Por Semana",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayF,
				}],
			},
			options: {
				tooltips: {
    titleFontSize: 10,
    bodyFontSize: 10
  },
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
		
		
		$('#lineChart').sparkline([105,103,123,100,95,105,115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
		
	</script>
	<script>
	
	var myhtml1= 
						'<p  align="center"><samall>Total Aforo</samall></p>'+
						'<div id="chart-container" style="max-height: 50%;z-index:2;" >'+
						
							'<canvas id="totalIncomeChart" style=" width: 100%; height: 50%; z-index:3;  "></canvas>'+
							
							
						'</div>'
						var myhtml2= 

						'<p  align="center"><samall>Total Persona</samall></p>'+
						'<div id="chart-container" style="max-height: 50%;z-index:2;" >'+
						
							'<canvas id="totalIncomeChart1" style=" width: 100%; height: 50%; z-index:3;  "></canvas>'+
							
							
						'</div>'
					
					
						var myhtml3= 
						'<p  align="center"><samall>Esta Semana</samall></p>'+
						'<div id="chart-container" style="max-height: 50%;z-index:2;" >'+
						
							'<canvas id="totalIncomeChart2" style=" width: 100%; height: 50%; z-index:3;  "></canvas>'+
							
							
						'</div>'
						var myhtml4= 
					
						'<p  align="center"><samall>Esta Semana Acumulada</samall></p>'+
						'<div id="chart-container" style="max-height: 50%;z-index:2;" >'+
						
							'<canvas id="totalIncomeChart3" style=" width: 100%; height: 50%; z-index:3;  "></canvas>'+
							
							
						'</div>'
						var myhtml5= 
					
						'<p  align="center"><samall>Este Mes</samall></p>'+
						'<div id="chart-container" style="max-height: 50%;z-index:2;" >'+
						
							'<canvas id="totalIncomeChart4" style=" width: 100%; height: 50%; z-index:3;  "></canvas>'+
							
							
						'</div>'
						var myhtml6= 
						 
						'<p  align="center"><samall>Este Mes Acumulado</samall></p>'+
						'<div id="chart-container" style="max-height: 50%;z-index:2;" >'+
						
							'<canvas id="totalIncomeChart5" style=" width: 100%; height: 50%; z-index:3;  "></canvas>'+
							
							
						'</div>'




	





	

		function backFunction(){
			var chartInfo=[];
			$.ajax({
		url: '127.0.0.1:8000/back',
		cache: false,
		type: 'get', // This is the default though, you don't actually need to always mention it
		
		success: function(data) {
			var obj = JSON.parse(data)

			
			


			$.each(obj, function(i, item){
				var myJSON = JSON.stringify(item);
				chartInfo.push(myJSON);
    			
});



		
		
		
			
		//mytotalIncomeChart.update();
		
		var array1 = chartInfo[0]
		var splitarray = array1.split('[');

		var splitarrayToString = splitarray.toString();

		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();

		var splitarray3 = splitarrayToString2.split(',')
	
		splitarray3.shift()


		var array = chartInfo[1]
		var splitarray = array1.split('[');
	
		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarray6 = splitarrayToString2.split(',')
	
		splitarray6.shift()


		var array1 = chartInfo[2]
		var splitarray = array1.split('[');
		
		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarray9 = splitarrayToString2.split(',')
		
		splitarray9.shift()

		var array1 = chartInfo[3]
		var splitarray = array1.split('[');

		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarray12 = splitarrayToString2.split(',')
	
		splitarray12.shift()

		var array1 = chartInfo[4]
		var splitarray = array1.split('[');
	
		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarray15 = splitarrayToString2.split(',')
	
		splitarray15.shift()

		var array1 = chartInfo[5]
		var splitarray = array1.split('[');

		var splitarrayToString = splitarray.toString();

		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarray18 = splitarrayToString2.split(',')
		

		splitarray18.shift()
$('#tarjeta1').html(myhtml1);
 
$('#tarjeta2').html(myhtml2);

$('#tarjeta3').html(myhtml3);

$('#tarjeta4').html(myhtml4);

$('#tarjeta5').html(myhtml5);

$('#tarjeta6').html(myhtml6);
Recargar(splitarray3,splitarray6,splitarray9,splitarray12,splitarray15,splitarray18)
		




	
		
return chartInfo;
			
		},
		failure: function(data) { 
			alert('Got an error dude');
		}
	}); }




function aheadFunction(){
	var chartInfo=[];
			$.ajax({
		url: '127.0.0.1:8000/ahead',
		cache: false,
		type: 'get', // This is the default though, you don't actually need to always mention it
		
		success: function(data) {
			var obj = JSON.parse(data)
			
			


			$.each(obj, function(i, item){
				var myJSON = JSON.stringify(item);
				chartInfo.push(myJSON);
    			
});



		
		
		
			
		//mytotalIncomeChart.update();
		
		var array1 = chartInfo[0]
		var splitarray = array1.split('[');

		var splitarrayToString = splitarray.toString();

		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();

		var splitarrayA = splitarrayToString2.split(',')
	
		splitarrayA.shift()


		var array = chartInfo[1]
		var splitarray = array1.split('[');
	
		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarrayB = splitarrayToString2.split(',')
	
		splitarrayB.shift()


		var array1 = chartInfo[2]
		var splitarray = array1.split('[');
		
		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarrayC = splitarrayToString2.split(',')
		
		splitarrayC.shift()

		var array1 = chartInfo[3]
		var splitarray = array1.split('[');

		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarrayD = splitarrayToString2.split(',')
	
		splitarrayD.shift()

		var array1 = chartInfo[4]
		var splitarray = array1.split('[');
	
		var splitarrayToString = splitarray.toString();
	
		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarrayE = splitarrayToString2.split(',')
	
		splitarrayE.shift()

		var array1 = chartInfo[5]
		var splitarray = array1.split('[');

		var splitarrayToString = splitarray.toString();

		var splitarray2 = splitarrayToString.split(']');
		var splitarrayToString2 = splitarray2.toString();
	
		var splitarrayF = splitarrayToString2.split(',')
		

		splitarrayF.shift()

$('#tarjeta1').html(myhtml1);

$('#tarjeta2').html(myhtml2);

$('#tarjeta3').html(myhtml3);

$('#tarjeta4').html(myhtml4);

$('#tarjeta5').html(myhtml5);

$('#tarjeta6').html(myhtml6);

Recargar(splitarrayA,splitarrayB,splitarrayC,splitarrayD,splitarrayE,splitarrayF)
		




	

return chartInfo;
			
		},
		failure: function(data) { 
			alert('Got an error dude');
		}
	}); }





function Recargar1(arrayA1,arrayB2,arrayC3,arrayD4,arrayE5,arrayF6){

arrayA=arrayA1
	var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');
		
		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["1-3H", "3-6H", "6-9H", "9-12H", "12-15H", "15-18H", "18-21H","21-24H"],
				datasets : [{
					label: "Total aforo",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data:  arrayA,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
			
		});
}
function Recargar(array,array1,array2,array3,array4,array5){

arrayA=array
var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');
		
		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["1-3H", "3-6H", "6-9H", "9-12H", "12-15H", "15-18H", "18-21H","21-24H"],
				datasets : [{
					label: "Total aforo",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data:  arrayA,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
			
		});
		
arrayB=array1

		var totalIncomeChart1 = document.getElementById('totalIncomeChart1').getContext('2d');
		
		var mytotalIncomeChart1 = new Chart(totalIncomeChart1, {
			type: 'bar',
			data: {
				labels:  ["1-3H", "3-6H", "6-9H", "9-12H", "12-15H", "15-18H", "18-21H","21-24H"],
				datasets : [{
					label: "Total persona",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data:  arrayB,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
		mytotalIncomeChart.update();
	mytotalIncomeChart1.update();
		
		arrayC = array2
		var totalIncomeChart2 = document.getElementById('totalIncomeChart2').getContext('2d');
		
		var mytotalIncomeChart2 = new Chart(totalIncomeChart2, {
			type: 'bar',
			data: {
				labels: ["D", "L", "M", "M", "J", "V", "S"],
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayC,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
arrayD = array3
		var totalIncomeChart3 = document.getElementById('totalIncomeChart3').getContext('2d');
		
		var mytotalIncomeChart3 = new Chart(totalIncomeChart3, {
			type: 'bar',
			data: {
				labels: ["D", "L", "M", "M", "J", "V", "S"],
				datasets : [{
					label: "Total",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayD,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
		arrayE = array4;
		var totalIncomeChart4 = document.getElementById('totalIncomeChart4').getContext('2d');
		var mytotalIncomeChart4 = new Chart(totalIncomeChart4, {
			type: 'bar',
			data: {
				labels: formato,
				datasets : [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayE,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
		arrayF = array5;
		var totalIncomeChart5 = document.getElementById('totalIncomeChart5').getContext('2d');
		

		
		
		var mytotalIncomeChart5 = new Chart(totalIncomeChart5, {
			type: 'bar',
			data: {
				labels:formato,
				datasets : [{
					label: "Total Por Semana",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: arrayF,
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines : {
							drawBorder: false,
							display : false
						}
					}],
					xAxes : [ {
						gridLines : {
							drawBorder: false,
							display : false
						}
					}]
				},
			}
		});
}

</script>

{% endblock javascripts %}

{% block modal-form %} {% endblock modal-form %}


