{% extends "layouts/base.html" %}

{% block title %} Forms {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Perfil</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="/">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Perfil</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Ver perfil</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Datos de usuario</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label for="user">Usuario</label>
                                    <h6><b>{{ request.user.profile.get_rol_display }}</b></h6>
                                </div>
                                <div class="form-group">
                                    <label for="username">Nombre de usuario</label>
                                    <h4>{{ request.user.profile }}</h4>
                                </div>
                                <div class="form-group">
                                    <label for="first_name">Nombre</label>
                                    <h4>{{ request.user.first_name }}</h4>
                                </div>
                                <div class="form-group">
                                    <label for="last_name">Apellido</label>
                                    <h4>{{ request.user.last_name }}</h4>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <h6><b>{{ request.user.email }}</b></h6>
                                </div>
                               <!-- {% if user.profile.rol > 2 %}
                                <div class="form-group">
                                    <label for="cliente">Cliente</label>
                                    <h6><b>{{ request.user.profile.id_cliente }}</b></h6>
                                </div>
                                {% endif %}-->
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="editar_profile.html" class="btn btn-primary">Editar</a>
                                <a href="/" class="btn btn-danger">Regresar</a>
                            </div>										
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
