{% extends "layouts/base-form.html" %}

{% block title %} Streaming {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}





{% endblock stylesheets %}


{% block content-form-page-header-title %} Streaming {% endblock content-form-page-header-title %}
{% block content-form-page-header %}

<ul class="breadcrumbs">
    <li class="nav-home">
        <a href="#">
            <i class="fas fa-file-video"></i>
        </a>
    </li>
    <li class="separator">
        <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
        <a href="#">Streaming</a>
    </li>
    <li class="separator">
        <i class="flaticon-right-arrow"></i>
    </li>
    <li class="nav-item">
        <a href="#">Agregar</a>
    </li>
</ul>

{% endblock content-form-page-header %}
{% block content-form-form-tag-begin %} {% endblock content-form-form-tag-begin %}
{% block content-form-content %}


<!--<div class="panel-header bg-primary-gradient">-->
    <!--<div class="page-inner py-5">-->
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-black pb-2 fw-bold">Manage Cams</h2>
                <h5 class="text-black op-7 mb-2">Detections and Values</h5>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                <button href="#" class="btn btn-black btn-primary btn-round mr-2">Clear All</button>
                <button href="#" class="btn btn-secondary btn-round save">Save Configurations</button>
            </div>
        </div>
    <!--</div>-->
<!--</div>-->

<div class="card">
    <div class="card-header">
        <div class="card-head-row">
            <div class="card-title">Live Video</div>
            <div class="card-tools">
               
        </div>


    </div>
    <div class="card-body">
        <div class="row py-3">
        <div class="col-md-8">
            <div class="chart-container" style="min-height: 375px"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                <img src="{% url 'livecam_feed' %}" alt="Image not found" onerror="this.src='core\static\assets\img\people.jpg';"alt="Image not found" onerror="this.src='core\static\assets\img\people.jpg';">
            </div>
        
        
        </div>
        <div class="col-md-4">
            <div class="card full-height">
            <div class="card-body">
                <div class="card-title">Manage Values</div>
                    <div class="row py-3" >
                        <div class="col-md-12 d-flex flex-column justify-content-around">

                            <div class="center" id ="buttons">



                                <div class="selectgroup selectgroup-pills " style="padding-bottom: 30px;">
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="HTML" class="selectgroup-input" id="iobjetos">
                                        <span class="selectgroup-button"  id="objetos" >People</span>
                                    </label>
                                    <label class="selectgroup-item">
                                        <input type="checkbox" name="value" value="CSS" class="selectgroup-input" id="imascara"> 
                                        <span class="selectgroup-button"  id="mascara" >Mask</span>
                                    </label>
                                   
                                </div>


                                

                                <table class="default">

                                    <tr>
                                        <td>Threshold</td>
                                
                                        <td>Smooth</td>
                                
                                        <td>None</td>
                                    </tr>
                                    <tr>
                                        <td><input  id=demoInput type=number min=0.3 max=0.9 value=0.5 ></td>
        
                                        <td><input  id=demoInput1 type=number min=0.3 max=0.9 value=1 ></td>
                                
                                        <td><input  id=demoInput2 type=number min=0.3 max=0.9 value=0 ></td>
                                    </tr>
                                    <tr>
                                        <td><button class="val thValueUp" onClick="increment()" ><i class="fas fa-angle-up"></i></button></td>
                                
                                        <td><button class="val smValueUp"   ><i class="fas fa-angle-up"></i></button></td>
                                
                                    <td><button class="val"  id ="clear"><i class="fas fa-angle-up"></i></button></td>
                                
                                    </tr>
                                    <tr>
                                
                                        <td><button class=" val thValueDown" onClick="decrement()" > <i class="fas fa-angle-down"></i></button></td>
                                    
                                        <td><button class="val smValueDown" ><i class="fas fa-angle-down"></i> </button></td>
                                    
                                        <td> <button class="val"  id ="clear"><i class="fas fa-angle-down"></i></button></td>
                                    </tr>

                                    
                                </table>   
                            </div>
                        </div>
                    </div>
                
                    
                    <!--<div class="col-md-8">
                        <div id="chart-container"><div class="chartjs-size-monitor" style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                            <canvas id="totalIncomeChart" width="209" height="150" class="chartjs-render-monitor" style="display: block; width: 209px; height: 150px;"></canvas>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div id="myChartLegend"><ul class="0-legend html-legend"><li><span style="background-color:#0084ff"></span>People</li><li><span style="background-color:#00ff5e"></span>Masks</li><li><span style="background-color:#fd1e00"></span>No Mask</li></ul></div>
</div>
    </div>



    


    </div>
    
       



      

    <style>
        table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0px solid #ddd;
  
}

th, tr {
  text-align: left;
  padding: 8px;
}
td{
    text-align: center;

}

        input::-webkit-outer-spin-button, 
        input::-webkit-inner-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        } 
    
        input[type=number] { 
            -moz-appearance: textfield; 
        } 
        input{
            margin-right :40px;
            margin-left :40px ;
            border:none;
            background: transparent;
            text-align: center; 
            color:rgb(0, 0, 0);
    
        }
        button.val {
            margin-right :40px;
            margin-left :40px ;
            border-radius: 50%;
            border: 0;
            color: rgb(38, 116, 233);
            
    
        }
        .botones{
            text-align: center;
        }
        .superior{
            padding-bottom: 10px;
            
        }
        .center{
            padding-bottom: 300px;
        
        
        
        }

.nav-link{
    outline: 0;
  border: 0;
  background:gray;
  margin:25px;
  padding: 10px 35px;
  font-family: 'Montserrat', sans-serif;
  font-size:15px;
  color: #fff;
  cursor:pointer;
  border-radius:50px;
  transition: all 0.3s ease;
}





                    </style>



</div>



{% endblock content-form-content %}
{% block content-form-form-tag-end %} {% endblock content-form-form-tag-end %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script>
var result; 
var clicked; 
var clicked1;
var smooth; 
var thresholding;

function toggle(e){
 /* Get the color */
  e.classList.toggle("active");
}



    var x = 0.5
    var y = 1
function increment() {
    x = x+ 0.1
    console.log("hey")
    
    x =Number((x).toFixed(1))
    if (x >= 0.9){
        x = 0.9;
        document.getElementById('demoInput').value= x
    }
    else{
      document.getElementById('demoInput').value= x;
    }
   }
   function decrement() {
    x = x- 0.1
    
    x =Number((x).toFixed(1))
    if (x <= 0.1){
        x = 0.1;
        document.getElementById('demoInput').value= x
    }
    else{
      document.getElementById('demoInput').value= x;
    }
   }


document.getElementsByClassName('object');
document.getElementsByClassName('mask');

document.getElementsByClassName('thValueUp');
document.getElementsByClassName('thValueDown');

document.getElementsByClassName('smValueUp');
document.getElementsByClassName('smValueDown');

$(document).ready(function(){
    var clicked =false
    var clicked1 =false
    $("#objetos").click(function(){
        clicked = !clicked;
        console.log(clicked)

        $.ajax({url: "/detections/objD/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}',
value:clicked
    },
    datatype:"json",
    success: function(result){
        console.log(result);
    },
error: function(error){
    console.log(error);
}
});
    });

    $("#mascara").click(function(){
        clicked1 = !clicked1;
        console.log(clicked1)

        $.ajax({url: "/detections/maskD/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}',value:clicked1
    },
    datatype:"json",
    success: function(result){
        console.log(result);
    },
error: function(error){
    console.log(error);
}
});



    });


$("#clear").click(function(){
        clicked = false;
        clicked1 = false;
        console.log(clicked,clicked1)


        $.ajax({url: "/detections/clear/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}',value:-1
    },
    datatype:"json",
    success: function(result){
        console.log(result);
    },
error: function(error){
    console.log(error);
}
});



    });
});

$(document).ready(function(){
    
  
  $(".thValueUp").click(function(){
    $.ajax({url: "/detections/thresholdValue/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}', value:1
    },
    datatype:"json",
    success: function(result){

        console.log(result);
    },
error: function(error){
    console.log(error);
}
});
    
  });
});




$(document).ready(function(){
  $(".thValueDown").click(function(){
    $.ajax({url: "/detections/thresholdValue/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}',value:-1
    },
    datatype:"json",
    success: function(result){
        console.log(result);
    },
error: function(error){
    console.log(error);
}
});
    
  });
});

$(".smValueUp").click(function(){
    $.ajax({url: "/detections/smooth/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}', value:1
    },
    datatype:"json",
    success: function(result){

        console.log(result);
    },
error: function(error){
    console.log(error);
}
});
    
  });



$(document).ready(function(){
  $(".smValueDown").click(function(){
    $.ajax({url: "/detections/smooth/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}',value:-1
    },
    datatype:"json",
    success: function(result){
        console.log(result);
    },
error: function(error){
    console.log(error);
}
});
    
  });
});

$(document).ready(function(){
  $(".save").click(function(){
    $.ajax({url: "/detections/save_config/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}',
    },
    datatype:"json",
    success: function(result){
        console.log(result);
    },
error: function(error){
    console.log(error);
}
});
    
  });
});

$(document).ready(function(){
    $("#mascara").addClass("rojo");
    //$("#mascara").checked(true);
    
  
    $.ajax({url: "/detections/show_info/", type: 'POST',data:{
csrfmiddlewaretoken: '{{csrf_token}}',
    },
    datatype:"json",
    success: function(result){
        result = $.parseJSON(result)
        clicked =  result.clicked;
        clicked1 = result.clicked1;
        smooth = result.smooth;
        thresholding = result.threshold;
        
        console.log(clicked);
        if (clicked == true){
            document.getElementById("iobjetos").checked = true;
    }
        if (clicked1==true){
            document.getElementById("imascara").checked = true;
        }
        document.getElementById("demoInput").value = thresholding;
        document.getElementById("demoInput1").value = smooth;

    },
error: function(error){
    console.log(error);
}
});
    
 
});



</script>
{% endblock javascripts %}
{% block javascripts-page %}
{% endblock javascripts-page %}
