{% extends "layouts/base-form.html" %}

{% block title %} Streaming {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content-form-page-header-title %} Streaming {% endblock content-form-page-header-title %}
{% block content-form-page-header %}

    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
				<i class="fas fa-file-video"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Streaming</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Agregar</a>
        </li>
    </ul>
{% endblock content-form-page-header %}
{% block content-form-form-tag-begin %} {% endblock content-form-form-tag-begin %}
{% block content-form-content %}
<div class="card-body">
	<p>STREAMING</p>
</div>


<div id="div1"><h2>Let jQuery AJAX Change This Text</h2></div>


<div>
<button class="" id ="objetos">Objects</button>
</div>

{% endblock content-form-content %}
{% block content-form-form-tag-end %} {% endblock content-form-form-tag-end %}


<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

$(document).ready(function(){
  $("button").click(function(){
    $.ajax({url: "demo_test.txt", 
    success: function(result){
      $("#div1").html(result);
    }});
  });
});

</script>
{% endblock javascripts %}
{% block javascripts-page %}
{% endblock javascripts-page %}
