{% extends "layouts/base-modal.html" %}

{% block title %} Cliente {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block modal-content-title-dissmiss %}
onclick="javascript:window.location='/instalacion/todos'"
{% endblock modal-content-title-dissmiss %}
{% block modal-content-form-tag-begin %}
<form method="POST" class="post-form" action="/instalacion/">
    {% endblock modal-content-form-tag-begin %}
    {% block modal-content-title %}
    <ul class="ml-0 breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="fas fa-map-marked-alt"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Instalación</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Agregar</a>
        </li>
    </ul>
    {% endblock modal-content-title %}
    {% block modal-content %}
    {% csrf_token %}
    <div class="card bg-custom-gray p-1">
        <div class="card-header m-0 py-1">
            <h5>Datos generales</h5>
        </div>
        <div class="card-body bg-light p-1">
            <div class="form-row col-12">
                <div class="form-group form-inline col-12 col-sm-4">
                    <label class="col-form-label mr-3">Activo:</label>
                    <input type="checkbox" name="instalacion_estado" id="id_instalacion_estado" class="form-control form-control-sm"
                           value="True" {% if form.instalacion_estado.value %}checked{% endif %} />
                </div>
                 <div class="form-group col-12 col-sm-8">
                    <label class="col-form-label mr-3">Cliente:</label>
                    <br>
                     {% if user.profile.rol >= 2 %}
                         <input type="hidden" name="id_cliente" id="id_id_cliente" value="{{user.cliente.get_id}}" />
                         <input type="text" value="{{user.cliente}}" disabled="disabled" class="form-control form-control-sm" />
                     {% else%}
                        <select name="id_cliente" required id="id_id_cliente" class="form-control form-control-sm">
                            {% for id, value in form.fields.id_cliente.choices %}
                                {% if form.id_cliente.value == id or user.cliente.get_id  == id|stringformat:"s"  %}
                                    <option value="{{ id }}" selected="selected">{{ value }}</option>
                                {% else %}
                                    <option value="{{ id }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                     {%endif%}
                    <!--select name="id_cliente" required="" id="id_id_cliente" class="form-control form-control-sm">
                        {% for cliente in form.id_cliente %}
                        {{ cliente }}
                        {% endfor %}
                    </select-->
                </div>
                <div class="form-group col-12 col-sm-12 col-lg-4">
                    <label class="col-form-label col-form-label-sm">Nombre comercial:</label>
                    <input type="text" name="nombre_comercial" id="id_nombre_comercial" class="form-control form-control-sm"
                           required
                           maxlength="100"
                           value="{{ form.nombre_comercial.value }}"/>
                </div>
                <div class="form-group col-12 col-sm-12 col-lg-8">
                    <label class="col-form-label col-form-label-sm">Dirección:</label>
                    <input type="text" name="direccion" id="id_direccion" class="form-control form-control-sm" required
                           maxlength="255" value="{{ form.direccion.value }}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-4">
                    <label class="col-form-label col-form-label-sm">Población:</label>
                    <input type="text" name="poblacion" id="id_poblacion" class="form-control form-control-sm" required
                           maxlength="100" value="{{form.poblacion.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-4">
                    <label class="col-form-label col-form-label-sm">Provincia:</label>
                    <input type="text" name="provincia" id="id_provincia" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.provincia.value }}"/>
                </div>
                <div class="form-group col-12 col-sm-4 col-sm-4 col-lg-4">
                    <label class="col-form-label col-form-label-sm">Código postal:</label>
                    <input type="text" name="codigo_postal" id="id_codigo_postal" class="form-control form-control-sm"
                           required
                           maxlength="100" value="{{ form.codigo_postal.value }}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                    <label class="col-form-label col-form-label-sm">Teléfono:</label>
                    <input type="text" name="telefono" id="id_telefono" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.telefono.value }}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                    <label class="col-form-label col-form-label-sm">Movil:</label>
                    <input type="text" name="movil" id="id_movil" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.movil.value }}"/>
                </div>
                <div class="form-group col-12 col-xs-12 col-sm-12 col-lg-6">
                    <label class="col-form-label col-form-label-sm">e-mail:</label>
                    <input type="text" name="email" id="id_email" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.email.value }}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-custom-gray p-1">
        <div class="card-header p-1">
            <h5>Contacto</h5>
        </div>
        <div class="card-body bg-light p-1">
            <div class="form-row m-0 p-2">
                <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                    <label class="col-form-label">Nombre:</label>
                    <input type="text" name="contacto_nombre" id="id_contacto_nombre" class="form-control form-control-sm"
                           required
                           maxlength="100" value="{{ form.contacto_nombre.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                    <label class="col-form-label">Cargo :</label>
                    <input type="text" name="contacto_cargo" id="id_contacto_cargo" class="form-control form-control-sm"
                           required
                           maxlength="100" value="{{ form.contacto_cargo.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-12 col-sm-6 col-lg-6">
                    <label class="col-form-label">e-mail:</label>
                    <input type="text" name="contacto_email" id="id_contacto_email" class="form-control form-control-sm"
                           required
                           maxlength="100" value="{{ form.contacto_email.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                    <label class="col-form-label">Teléfono:</label>
                    <input type="text" name="contacto_telefono" id="id_contacto_telefono"
                           class="form-control form-control-sm"
                           required
                           maxlength="100" value="{{ form.contacto_telefono.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-4 col-lg-3">
                    <label class="col-form-label">Movil:</label>
                    <input type="text" name="contacto_movil" id="id_contacto_movil" class="form-control form-control-sm"
                           required
                           maxlength="100" value="{{ form.contacto_movil.value}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="card bg-custom-gray p-1">
        <div class="card-header p-1">
            <h5>Técnico</h5>
        </div>
        <div class="card-body bg-light p-1">
            <div class="form-row m-0 p-2">
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                    <label class="col-form-label">Nombre:</label>
                    <input type="text" name="tecnico_nombre" id="id_tecnico_nombre" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.tecnico_nombre.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                    <label class="col-form-label">Cargo :</label>
                    <input type="text" name="tecnico_cargo" id="id_tecnico_cargo" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.tecnico_cargo.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-12 col-sm-6 col-lg-6">
                    <label class="col-form-label">e-mail:</label>
                    <input type="text" name="tecnico_email" id="id_tecnico_email" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.tecnico_email.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                    <label class="col-form-label">Teléfono:</label>
                    <input type="text" name="tecnico_telefono" id="id_tecnico_telefono" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.tecnico_telefono.value}}"/>
                </div>
                <div class="form-group col-12 col-xs-6 col-sm-6 col-lg-3">
                    <label class="col-form-label">Movil:</label>
                    <input type="text" name="tecnico_movil" id="id_tecnico_movil" class="form-control form-control-sm" required
                           maxlength="100" value="{{ form.tecnico_movil.value}}"/>
                </div>
            </div>
        </div>
    </div>
    <div class="form-row m-0 p-2">
        <div class="form-group col-12">
            {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-danger my-1">
                <li>
                    <strong class="mr-3">{{ field.label | capfirst }}: </strong>
                    <ul class="errorlist">
                        {% for error in field.errors %}
                        <li>{{error|escape}}</li>
                        {% endfor %}
                    </ul>
                </li>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endblock modal-content %}
    {% block modal-content-footer %}
    <button type="submit" class="btn btn-success">Guardar</button>
    <button type="reset" class="btn btn-warning" >Cancelar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal"
            onclick="javascript:window.location='/instalacion/todos'">Cerrar
    </button>
    {% endblock modal-content-footer %}
{% block modal-content-form-tag-end %}
</form>
{% endblock modal-content-form-tag-end %}
<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}