{% extends "layouts/base-form.html" %}

{% block title %} Instalación {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content-form-page-header-title %} Instalación {% endblock content-form-page-header-title %}
{% block content-form-page-header %}

    <ul class="breadcrumbs">
        <li class="nav-home">
            <a href="#">
                <i class="fas fa-users"></i>
            </a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Instalación</a>
        </li>
        <li class="separator">
            <i class="flaticon-right-arrow"></i>
        </li>
        <li class="nav-item">
            <a href="#">Editar</a>
        </li>
    </ul>
{% endblock content-form-page-header %}
{% block content-form-form-tag-begin %} {% endblock content-form-form-tag-begin %}
{% block content-form-content %}
<div class="card-body">
	<div class="row">
		<div class="col-md-12">			 
				<form method="POST" class="post-form" action="/instalacion/actualizar/{{form.id.value}}/">
					{% csrf_token %}
					<div class="card bg-custom-gray p-1">
				        <div class="card-header m-0 py-1">
				            <h5>Datos generales</h5>
				        </div>						
					    <div class="card-body bg-light p-1">
							<div class="form-check">									
								<div class="row">
									<label class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Activo <span class="required-label">*</span></label>
									<div class="col-lg-4 col-md-9 col-sm-8 d-flex align-items-center">
										<div class="custom-control custom-checkbox">
											<input type="checkbox" class="custom-control-input" id="instalacion_estado" name="instalacion_estado" 
											value="True" {% if form.instalacion_estado.value %}checked{% endif %}>
											<label class="custom-control-label" for="instalacion_estado"></label>
										</div>
									</div>
								</div>
							</div>											
							<div class="form-group form-show-validation row">
									<label for="cliente" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Cliente:<span class="required-label">*</span></label>
									
									<div class="col-lg-4 col-md-9 col-sm-8">
										<div class="select2-input">
											<select name="cliente-nif" required id="id_cliente-nif" class="form-control">
							                    	<option value="" selected> --------- </option>
                        						{% for id, value in form.fields.cliente_nif.choices %}
                            						 {% if form.id_cliente_nif.value == id %}
                                						<option value="{{ id }}" selected="selected">{{ value }}</option>
                            						{% else %}
                                						<option value="{{ id }}">{{ value }}</option>
													{% endif %}
                        						{% endfor %}																		
											</select>
										</div>
									</div>
								</div>															
							<div class="form-group form-show-validation row">
								<label for="nombre_comercial" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Nombre comercial<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_nombre_comercial" name="nombre_comercial" placeholder="Nombre comercial" required
									 	maxlength="100"
		                   		  		value="{{ form.nombre_comercial.value }}"/>
								</div>
							</div>
							<div class="form-group form-show-validation row">
								<label for="direccion" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Dirección<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_direccion" name="direccion" placeholder="Dirección" required
									 	maxlength="255"
		                   		  		value="{{ form.direccion.value }}"/>
								</div>
							</div>									
							<div class="form-group form-show-validation row">
								<label for="poblacion" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Población<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_poblacion" name="poblacion" placeholder="Población" required
									 	maxlength="100"
		                   		  		value="{{ form.poblacion.value }}"/>
								</div>
							</div>		
							<div class="form-group form-show-validation row">
								<label for="provincia" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Provincia<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_provincia" name="provincia" placeholder="Provincia" required
									 	maxlength="100"
		                   		  		value="{{ form.provincia.value }}"/>
								</div>
							</div>
							<div class="form-group form-show-validation row">
								<label for="codigo_postal" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Código postal<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_codigo_postal" name="codigo_postal" placeholder="Código postal" required
									 	maxlength="100"
		                   		  		value="{{ form.codigo_postal.value }}"/>
								</div>
							</div>																			
							<div class="form-group form-show-validation row">
								<label for="telefono" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Teléfono<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_telefono" name="telefono" placeholder="Teléfono" required
									 	maxlength="100"
		                   		  		value="{{ form.telefono.value }}"/>
								</div>
							</div>
							<div class="form-group form-show-validation row">
								<label for="movil" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Movil<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_movil" name="movil" placeholder="Movil" required
									 	maxlength="100"
		                   		  		value="{{ form.movil.value }}"/>
								</div>
							</div>		
							<div class="form-group form-show-validation row">
								<label for="email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">E-mail<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="email" class="form-control" id="id_email" name="email" placeholder="E-mail" required
									 	maxlength="100"
		                   		  		value="{{ form.email.value }}"/>
								</div>
							</div>	
		
					    </div><!--fin card body-->
					</div><!--fin "card bg-custom-gray p-1-->
																																																							
										
				    <div class="card bg-custom-gray p-1">
        				<div class="card-header p-1">
            				<h5>Contacto</h5>
        				</div>
						<div class="card-body bg-light p-1">
							<div class="form-group form-show-validation row">
								<label for="contacto_nombre" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Nombre<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_contacto_nombre" name="contacto_nombre" placeholder="Nombre" required
									 	maxlength="100"
		                   		  		value="{{ form.contacto_nombre.value }}"/>
								</div>
							</div>																							
							<div class="form-group form-show-validation row">
								<label for="contacto_cargo" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Cargo<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_contacto_cargo" name="contacto_cargo" placeholder="Cargo" required
									 	maxlength="100"
		                   		  		value="{{ form.contacto_cargo.value }}"/>
								</div>
							</div>		
							<div class="form-group form-show-validation row">
								<label for="contacto_email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">E-mail<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="email" class="form-control" id="id_contacto_email" name="contacto_email" placeholder="E-mail" required
									 	maxlength="100"
		                   		  		value="{{ form.contacto_email.value }}"/>
								</div>
							</div>									
							<div class="form-group form-show-validation row">
								<label for="contacto_telefono" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Teléfono<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_contacto_telefono" name="contacto_telefono" placeholder="Teléfono" required
									 	maxlength="100"
		                   		  		value="{{ form.contacto_telefono.value }}"/>
								</div>
							</div>
							<div class="form-group form-show-validation row">
								<label for="contacto_movil" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Movil<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_contacto_movil" name="contacto_movil" placeholder="Movil" required
									 	maxlength="100"
		                   		  		value="{{ form.contacto_movil.value }}"/>
								</div>
							</div>							
						</div><!--fin card body-->
				    </div><!--fin "card bg-custom-gray p-1-->
					<div class="card bg-custom-gray p-1">
        				<div class="card-header p-1">
            				<h5>Técnico</h5>
        				</div>
						<div class="card-body bg-light p-1">
							<div class="form-group form-show-validation row">
								<label for="tecnico_nombre" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Nombre<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_tecnico_nombre" name="tecnico_nombre" placeholder="Nombre" required
									 	maxlength="100"
		                   		  		value="{{ form.tecnico_nombre.value }}"/>
								</div>
							</div>		
							<div class="form-group form-show-validation row">
								<label for="tecnico_cargo" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Cargo<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_tecnico_cargo" name="tecnico_cargo" placeholder="Cargo" required
									 	maxlength="100"
		                   		  		value="{{ form.tecnico_cargo.value }}"/>
								</div>
							</div>		
							<div class="form-group form-show-validation row">
								<label for="tecnico_email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">E-mail<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="email" class="form-control" id="id_tecnico_email" name="tecnico_email" placeholder="E-mail" required
									 	maxlength="100"
		                   		  		value="{{ form.tecnico_email.value }}"/>
								</div>
							</div>
							<div class="form-group form-show-validation row">
								<label for="tecnico_telefono" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Teléfono<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_tecnico_telefono" name="tecnico_telefono" placeholder="Teléfono" required
									 	maxlength="100"
		                   		  		value="{{ form.tecnico_telefono.value }}"/>
								</div>
							</div>		
							<div class="form-group form-show-validation row">
								<label for="tecnico_movil" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Movil<span class="required-label">*</span></label>
								<div class="col-lg-4 col-md-9 col-sm-8">
									<input type="text" class="form-control" id="id_tecnico_movil" name="tecnico_movil" placeholder="Movil" required
									 	maxlength="100"
		                   		  		value="{{ form.tecnico_movil.value }}"/>
								</div>
							</div>																									
							<div class="card-action">
								<div class="row">
									<div class="col-md-12">
										<input class="btn btn-success" type="submit" value="Guardar">
										<a href="/instalacion/todos" class="btn btn-danger">Cancelar</a>
									</div>										
								</div>
							</div>
						</div><!--fin card body-->
					</div><!--fin "card bg-custom-gray p-1-->						
				</form>			
		</div>
	</div>
</div>	




{% endblock content-form-content %}
{% block content-form-form-tag-end %} {% endblock content-form-form-tag-end %}


<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
{% block javascripts-page %}
    {% include 'includes/scripts_js_datatable.html' %}

{% endblock javascripts-page %}
